/* app css stylesheet */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
}

.main_container {
  min-width:480px;
  max-width:800px;
  margin-right: auto;
  margin-left: auto;
}

.mainpanel {
  /*padding: 0px 20px;*/
}

.menu {
  list-style: none;
  padding: 1.2em 0.5em;
  border-bottom: 0.1em solid #dddddd;
  background-color: #ffffff;
  color: #333333;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "";
  padding-right: 2em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inv_row {
  padding: 8px 0px;
  font-size: 1.1em;
}

.inv_row_even {
  background-color: #f7f7f7;
}

.add_inv_scroll_area {
  height:300px;
  overflow: auto;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dddddd;
  margin: 0px 28px;
}

.add_inv_scroll_cell {
  margin: auto;
  padding-left: 16px;
  padding-top:10px;
  padding-bottom:12px;
  border-bottom: 1px solid #dddddd;
}

.add_inv_msg {
  margin-left: 30px;
  margin-right:30px;
  padding: 6px 10px;
  background-color: #60c510;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-size:1.1em;
  font-weight:bold;
}

.label_row {
  font-weight: bold;
  background-color: #e0f0ff;
  padding: 8px 0px;
  margin-bottom: 2px;
}

.loc_cell {
  margin-left: 12px;
  text-align: center;
  padding:12px 0px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 0.1em solid #dddddd;
}

.btn, .btn:focus, .btn:active {
  outline: none;
}

.sel_loc, .sel_loc:focus, .sel_loc:active {
  background-color: #3388cc;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  outline: none;
}

.add_loc_btn {
  border: none;
  color: #4499cc;
  max-width: 70px;
}

.add_loc_btn:focus {
  background-color: #f1f8ff;
  color: #4499cc;
}

.add_loc_btn:hover {
  background-color: #f1f8ff;
  color: #4499cc;
}

.add_loc {
  border-radius: 6px;
  border:1px solid #88badd;
  background-color: #f1f8ff;
  margin-left:-8px;
  margin-right:-8px;
  padding-left:8px;
  padding-right:8px;
}

.add_inv {
  border-radius:6px;
  border:1px solid #aaddbb;
  background-color: #fcfffa;
  margin-left:-8px;
  padding-left: 8px;
  margin-right:-8px;
  padding-right:8px;
  margin-top: -8px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.add_inv_divider {
  margin: 24px -8px;
  border-bottom: 1px solid #aaddbb;
}

.hint_text {
  /*font-style: italic;*/
  color: #888888;
  font-size:1.1em;
}

.check_circle {
  color:#77dd22;
  font-size:1.4em;
}

.btn_right {
  margin-right: 4px;
}

.min_padding {
  padding-left:4px !important;
  padding-right:4px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}




