/* app css stylesheet */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  margin:0;
  padding:0;
}

.toolbar {
  width: 100%;
  background-color:#f5f5f5;
  border-bottom:1px solid #bbbbbb;
  margin-bottom:10px;
}

.subtoolbar {
  background-color:#ffffff;
  /*border-bottom: solid 1px #eeeeee;*/
}

.menu {
  list-style: none;
  margin-left:0;
  padding-left:0;
  /*padding: 1.2em 0em;*/
  /*border-bottom: 0.1em solid #dddddd;*/
  color: #333333;
  min-width:560px;
  font-size:0.9em;
  text-decoration: none;
  margin-bottom:0;
}

.menu li a {
  text-decoration: none;
  padding-top:0;
  padding-left:0;
  color:#a0a0a0;
}

.menu li a img {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.menu li.sub_active a img {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.menu li {
  padding-top: 10px;
  padding-bottom:5px;
  padding-left:16px;
  padding-right:16px;
  text-align:center;
  min-width:90px;
}

.menu li.active {
  border-bottom: 2px solid #88ccff;
}

.menu li.active a{
  padding-top:0;
  padding-bottom:0;
  margin:0;
  color:#2288cc;
}

.menu li.sub_active {
  /*border-bottom: 2px solid #ffaa00;*/
  font-size:1.2em;
}

.menu li.sub_active a{
  padding-top:0;
  padding-bottom:0;
  margin:0;
  color:#222222;
}

.full_divider {
  width:100%;
  border-bottom: 1px solid #dddddd;
}

.all_inv_main {
  overflow: visible;
  margin-left: 20px;
}

.label_row_container {
  /*font-weight:bold;*/
  background-color: #e0f0ff;
  padding: 0px 4px;
  font-size:1.1em;
}

.inv_row {
  border-left: solid 1px #dddddd;
}

.inv_date_row {
  font-style: italic;
  font-size:0.9em;
  color:#aaaaaa;
  /*color:#66b5d0;*/
  border-bottom: solid 2px #e0e0e0;
  padding-top:20px;
  padding-bottom:2px;
}

.inv_loc_row {
  background-color:#e0f5ff;
}

.sort_div {
  display:block;
  padding: 8px 6px;
  text-decoration: none;
  cursor: pointer;
}

.sort_div:hover {
  background-color:#d0e5fc;
  z-index:0;
}

.inv_sort_div {
  display:block;
  padding: 6px 0px;
  text-decoration: none;
  cursor: pointer;
  margin:0px;
}

.inv_sort_div:hover {
  background-color:#d0e5fc;
  z-index:0;
}

/* sort carat in all bev DB */
.sort_carat {
  font-size:10px;
  float:right;
  color:#2288aa;
  margin-top:4px;
  font-weight:bold;
}

/* sort carat in inv loc pages */
.inv_sort_carat {
  font-size:10px;
  margin-left:6px;
  padding-top:6px;
  color:#2288aa;
  font-weight:bold;
}

.all_inv_label_span {
  padding: 0;
  border-right: solid 1px #dddddd;
  color:#4499dd;
}

.inv_loc_label_span {
  padding-top:6px;
  padding-bottom:6px;
  color:#4488cc;
}

.all_inv_span {
  display: table-cell;
  padding: 4px 6px;
  border-right: solid 1px #dddddd;
  position:relative;
  height:100%;
  border-bottom: solid 1px #eeeeee;
}

.inv_row_container {
  padding-top:8px;
  padding-bottom:6px;
  padding-right:0;
  padding-left:0;
}

.inv_col {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}

.inv_minus_btn {
  margin-top:0px;
  float:left;
  display: inline-block;
  margin-right: 5px;
  margin-left:5px;
  font-size: 14px;
  height:38px;
  color:#bb5533;
  border: 1px solid #eebbbb;
  background-color: #fff5f5;
}

.inv_plus_btn {
  display: inline-block;
  float:left;
  margin-right: 5px;
  margin-left:5px;
  font-size: 14px;
  height:38px;
  color:#44aa11;
  border: 1px solid #aae0a0;
  background-color: #f5fff0;
}

.do_tap_btn {
  color:#336655;
  border: 1px solid #a0d895;
  background-color: #fafff2;
}

.do_tap_btn:hover {
  color:#447766;
  background-color: #f0ffe0;
}

.inv_xl_btn {
  padding: 12px 18px;
  font-size:1.4em;
  margin:auto;
  border-color:#aaddbb;
  border-width:2px;
}

.inv_xl_btn:hover {
  border-color:#aaddbb;
  background-color: #f0fce0;
  border-width:2px;
}

.inv_xl_btn_dark {
  padding: 14px 20px;
  font-size:1.4em;
  margin:auto;
  background-color:#51a351;
  border:none;
}

.inv_xl_btn_dark:hover {
  background-color:#62c462;
  border:none;
}


.main_container {
  min-width:560px;
  max-width:800px;
  margin-right: auto;
  margin-left: auto;
}

.mainpanel {
  /*padding: 0px 20px;*/
  /*overflow: scroll;*/
  min-height: 800px;
}

.menu:before {
  content: "";
}

.menu:after {
  content: "";
}

.menu > li {
  display: inline-block;
}

.menu > li:before {
  content: "";
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.inv_row_even {
  background-color: #f8f8f8;
  border-bottom: solid 1px #f0f0f0;
}

.inv_row_odd {
  background-color: #ffffff;
  border-bottom: solid 1px #fbfbfb;
}

.tap_full_row {
  background-color: #fafff8;
  /*background-color: #fafafa;*/
}

.add_label_row_container {
  /*font-weight:bold;*/
  background-color: #f0f0f0;
  padding: 0px 4px;
  font-size:1.1em;
  margin: 0px 28px;
}

.add_inv_sort_div {
  display:block;
  padding: 6px 4px;
  text-decoration: none;
  cursor: pointer;
  margin:0px;
}

.add_inv_sort_div:hover {
  background-color:#e0e0e0;
  z-index:0;
}

.add_inv_label_span {
  padding:6px 6px;
  color:#777777;
}

.add_inv_scroll_area {
  height:300px;
  overflow: auto;
  background-color: #ffffff;
  /*border-radius: 6px;*/
  border: 1px solid #dddddd;
  margin: 0px 28px;
}

.add_inv_scroll_cell {
  margin: auto;
  padding-left: 8px;
  padding-top:5px;
  padding-bottom:3px;
  border-bottom: 1px solid #dddddd;
}

.add_inv_scroll_col {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.add_inv_msg {
  margin-left: 30px;
  margin-right:30px;
  padding: 6px 10px;
  background-color: #60c510;
  border: 1px solid white;
  border-radius: 6px;
  color: white;
  font-size:1.1em;
  font-weight:bold;
}

.loc_dropdown {
  min-width:210px;
}

.unit_dropdown {
  width:70px;
}

.loc_li a {
  margin:0;
  font-size:1.1em;
  height:32px;
}

.inv_dropdown_li a {
  margin: 0;
  font-size:1.0em;
  height:24px;
}

.new_loc {
  color: #66aadd !important;
}

.loc_cell {
  margin-left: 12px;
  text-align: center;
  padding:12px 0px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 0.1em solid #dddddd;
}

.btn, .btn:focus, .btn:active {
  outline: none;
}

.btn_ok {
  font-size:15px;
  padding: 7px 10px;
}

.btn_edit {
  background-color:#ecfddf;
  border-color:#aaddbb;
  color:#22aa55;
}

.btn_edit:hover {
  background-color:#ccefcf;
}

.btn_frameless {
  border: none;
  background-color:rgba(0,0,0,0);
  color:#aaaaaa;
}

.btn_frameless:hover {
  background-color:#ffffff;
}

.hover_red:hover {
  color:#cc2200;
}

.hover_green:hover {
  color:#22aa55;
}

.warn_box {
  border: solid 1px #f0d066;
  border-radius:4px;
  background-color: #fffcf5;
  color: #c09011;
  padding-top:2px;
  padding-bottom:2px;
}

.sel_loc, .sel_loc:focus, .sel_loc:active {
  background-color: #3388cc;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  outline: none;
}

.navbar {
  border-bottom:solid 1px #dddddd;
  background-color:#f5f7f9 !important;
}

.main_nav li.active a {
  color:#000000 !important;
  text-decoration: none;
  background-color: #f5f7f9 !important;
  border-bottom: 3px solid #55b0e8;
  font-size:1.2em;
}

.main_nav li a {
  font-size:1.1em;
  text-decoration: none;
  color:#999999 !important;
}

.main_nav li a:hover {
  text-decoration:none;
}

.add_tap_btn {
  border: none;
  color: #5599cc;
  background-color: #e8f5ff;
  padding: 10px;
}

.add_tap_btn:hover {
  background-color: #d8f0ff;
  color: #3370bb;
}

.add_loc_btn {
  border: none;
  color: #66aadd;
  max-width: 70px;
}

.add_loc_btn:focus {
  background-color: #f1f8ff;
  color: #4499cc;
}

.add_loc_btn:hover {
  background-color: #f1f8ff;
  color: #4499cc;
}

/* For New Beverage UI with tabset, adds borders under tabset to make it look
like enclosed space */
.new_inv_border_box {
  margin: 0px 6px;
  margin-bottom:8px;
  padding:6px 12px;
  background-color:#fffffe;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.new_inv_box {
  padding: 6px 4px;
  background-color:#fffffe;
}

.add_inv_all {
  border-radius: 4px;
  border:1px solid #d6f0c5; 
  background-color: #fdfffa;
  padding: 16px 10px;
  width:800px;
  margin-top: -11px;
  margin-bottom:0px;
}

.add_ui_box_green {
  border-radius: 4px;
  border:5px solid #c6eaa5; 
  background-color: #fdfffa;
  padding: 0px;
  width:800px;
}

.add_ui_box_blue {
  border-radius: 4px;
  border:5px solid #cae5fc; 
  background-color: #fbfeff;
  padding: 0px;
  min-width:800px;
}

.add_title_bar_green {
  background-color:#d0ecca;
  padding:4px;
  padding-bottom:8px;
}

.add_title_bar_blue {
  background-color:#cae5fc;
  padding:4px;
  padding-bottom:8px;
}

.add_footer_bar {
  border-top: 1px solid #fdfffa;
  background-color:#fdfffa;
  padding: 4px 16px;
  padding-bottom:12px;
}

.add_title_green {
  margin-left:10px;
  display:inline-block;
  float:left;
  margin-top:3px;
  color:#55a066;
  font-size:1.1em;
}

.add_green_color {
  color:#55a066;
}

.add_title_blue {
  margin-left:10px;
  display:inline-block;
  float:left;
  margin-top:3px;
  color:#5586b5;
  font-size:1.1em;
}

.add_blue_color {
  color: #5586b5;
}


.add_hint {
  display:inline-block;
  float:right;
  margin-top:5px;
  margin-right:16px;
  color:#777777;
}

.nav-tabs > li > a {
  padding:4px 12px;
  color:#899979;
  font-size:1.1em;
}

.nav-tabs > li.active > a:focus {
  background-color:#ffffff;
  font-weight: bold;
  border-top: 3px solid #ffcc88;
}

.nav-tabs > li.active > a{
  background-color:#ffffff;
  font-weight: bold;
  border-top: 3px solid #ffcc88;
}

.nav-tabs > li.active > a:hover{
  background-color:#ffffff;
  font-weight: bold;
  border-top: 3px solid #ffcc88;
}

.add_row {
  display: inline-block;
  width:100%;
  overflow: auto;
  margin-bottom:6px;
}

.add_hr {
  padding:0;
  margin:0;
  border-color:#d0e8c5;
}

.add_hr_blue {
  padding:0;
  margin:0;
  border-color:#cae5fc;
}

.add_label {
  float: left;
  display: inline-block;
  text-align: right;
  font-size:1.1em;
  width:120px;
  padding-right: 8px;
  margin-top:6px;
}

.col_highlight {
  background-color:#ffe8d0 !important;

}

.col_highlight_row_even {
  background-color:#fffae8 !important;
}


.col_comp:hover {
  background-color:#f0f0f0 !important;
}

.control-label {
  font-weight:normal;
  margin-bottom:2px;
}

.add_transparent_btn {
  background-color: #fdfffa;
  border: 1px solid #aaddbb;
  color: #55aa55;
}

.add_inv {
  border-radius:6px;
  border:1px solid #d6f0c5;
  background-color: #fdfffa;
  margin-left:-8px;
  margin-right:-8px;
  padding-left: 8px;
  padding-right:8px;
  margin-top: -8px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.add_inv_divider {
  margin: 12px -8px;
  border-bottom: 1px solid #d6f0c5;
}

.hint_text {
  /*font-style: italic;*/
  color: #999999;
  font-size:1.1em;
}

.gray_text {
  color: #aaaaaa;
}

.check_circle {
  color:#77dd22;
  font-size:1.4em;
}

.btn_right {
  margin-right: 4px;
  float: right;
  min-height:28px;
}

.btn_x {
  width:24px;
  height:24px;
  padding:4px;
  padding-top:2px;
}

.btn_clear {
  background-color: red !important;
  color:red;
}
.btn_clear:hover {
  background-color:red;
  color:red;
}

.btn_modal_x {
  width:24px;
  height:24px;
  padding:4px;
  padding-top:2px;
  margin-left:-10px;
  margin-top:-1px;
}

.tap_box {
  border: solid 1px gray;
  height: 96px;
  border-radius: 6px;
}

.green_row {
  background-color: #e5f5ea;
}

.gray_row {
  background-color:#f8f8f8; 
}

.inner_btn_left {
  margin-top:-10px;
}

.input_error {
  background-color:#fff5f5;
  border-color: #aa2200;
}

.alert-danger {
  padding:12px 12px;
}

.min_padding {
  padding-left:4px;
  padding-right:4px;
  margin-left:0px;
  margin-right:0px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.edit-inv-modal .modal-dialog {
  min-width: 800px;
}

.edit-purchase-modal .modal-dialog {
  margin-top: 160px;
  min-width: 720px;
}

.new-dist-modal .modal-dialog {
  margin-top: 200px;
  max-width:620px;
}

.modal-header {
  background-color:#eeeeee;
  color:#777777;
}

.modal-footer {
  background-color:#eeeeee;
  padding: 8px 16px;
}

.start-count-modal .modal-dialog{
  margin-top: 100px;
  min-width:420px;
}

.gray-modal-backdrop {
  background-color: #888888;
}

.green-modal-backdrop {
  background-color: #eef5e5;
}

.red-modal-backdrop {
  background-color: #eeaa55;
}

.blue-modal-backdrop {
  background-color: #e5eef5;
}

.start_count_btn_green {
  margin: 6px 6px;
  border-radius:12px;
  padding: 12px 12px;
  background-color:#f8fff3;
  border: 1px solid #c8e5c0;
  color: #58a550;
  min-height:200px;
}

.start_count_btn_green:hover {
  cursor:pointer;
  background-color:#eafae5;
  border: 1px solid #c8e5c0;
}

.start_count_btn_yellow {
  margin: 6px 6px;
  border-radius:12px;
  padding: 12px 12px;
  background-color:#fffaf3;
  border: 1px solid #e5d8c0;
  color: #aaa060;
  min-height:200px;
}

.start_count_btn_yellow:hover {
  background-color:#f8f0e0 !important;
  cursor:pointer;
}

.edit-dist-modal .modal-dialog{
  margin-top: 140px;
  min-width:640px;
}

.del-dist-modal .modal-dialog{
  margin-top: 80px;
  min-width:620px;
}

.my_error {
  border-color: #aa0000;
}

.cursor_disabled {
  cursor: not-allowed;
}



.modal-backdrop.in{
  opacity:0.75;
  filter: alpha(opacity=75);
}

.box-shadow {
  -webkit-box-shadow: 0 4px 4px -3px #bbbbbb;
  -moz-box-shadow: 0 4px 4px -3px #bbbbbb;
  box-shadow: 0 4px 4px -3px #bbbbbb;
}

.bold {
  font-weight: bold !important;
}

.optional {
  color:#444444;
}

.inv_symbol {
  color:#cccccc;
  display:none;
}

.help_link {
  color:#5599cc;
}

input.customCbRnd, input.customCbSqr {
  visibility: hidden;
  font-weight:normal;
}

input.customCbRnd + label, input.customCbSqr + label {
  margin-left:12px;
  font-weight:normal;
}

input.customCbRnd:checked:after, input.customCbRnd:after,
input.customCbSqr:checked:after, input.customCbSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:24px;height: 20px; width: 20px;
  position: relative;
  top: -8px;
  left: 0px;
  background-color:#FFF;
  display: inline-block;
  color:#4499cc;
}

input.customCbRnd:checked:after {
  content: '\f058';
}

input.customCbRnd:after {
  content: '\f10c';
}

input.customCbSqr:checked:after {
  content: '\f14a';
}

input.customCbSqr:after {
  content: '\f096';
  color:#aabbcc;
}

