<div class="row" style="font-size:1.1em">
  <div class="col-xs-1"></div>
  <div class="col-xs-6" style="text-align:center; border-right:1px solid #dadada">

    <date-time-picker blue-title="2" title="'Time of Delivery'" picked-time="newDistOrder.delivery_time" picked-date="newDistOrder.delivery_date" form-ver-date="form_ver.error_delivery_date" control="dt_control"></date-time-picker>
  </div>
  <div class="col-xs-4" style="text-align:center; padding-right:24px">
    <div style="font-weight:bold">Was the Delivery timely?</div>
    <div class="btn-group btn-group-justified" style="display:inline-block; width:80px; font-weight:bold; margin-top:2px;">
      <label class="btn btn-default btn-md" ng-class="{'btn-danger':newDistOrder.delivery_timely===false,'my_error':form_ver.error_dlv_timely===true}" ng-model="newDistOrder.delivery_timely" uib-btn-radio="false">
        <span class="glyphicon glyphicon-remove" style="color:#E4AFAF; font-weight:bold"></span>
      </label>
      <label class="btn btn-default btn-md" ng-class="{'btn-success':newDistOrder.delivery_timely===true,'my_error':form_ver.error_dlv_timely===true}" ng-model="newDistOrder.delivery_timely" uib-btn-radio="true">
        <span class="glyphicon glyphicon-ok" style="color:#AADAAA; font-weight:bold"></span>
      </label>
    </div>
  </div>
</div>
<hr style="margin:2px 2px 16px; border-color:#cacaca"/>
<div class="row" style="font-size:1.1em; height:72px;">
  <div class="col-xs-1"></div>
  <div class="col-xs-3" style="text-align:center">
    <div>Original P.O. Estimate</div>
    <div style="font-size:1.6em; font-weight:bold; margin-top:-2px; color:#888888">${{newDistOrder.total | number:2}}</div>
  </div>
  <div class="col-xs-3 min_padding" style="text-align:center; font-weight:bold; height:100%; border-right:1px solid #dadada">
    <div>Actual Invoice:</div>
    <div class="input-group" style="padding: 0px 30px">
      <span class="input-group-addon">$</span>
      <input ng-model="newDistOrder.delivery_invoice" type="number" min="0" class="form-control" ng-class="{'my_error':form_ver.error_dlv_invoice===true}" style="text-align:center; font-size:1.3em; padding-top:1px">
    </div>
  </div>
  <div class="col-xs-4" style="text-align:center; padding-right:24px">
    <div style="font-weight:bold; font-size:1.0em">Accept this invoice?</div>
    <div class="btn-group btn-group-justified" style="display:inline-block; width:80px; font-weight:bold; margin-top:2px;">
      <label class="btn btn-default btn-md" ng-class="{'btn-danger':newDistOrder.delivery_invoice_acceptable===false, 'my_error':form_ver.error_dlv_invoice_acceptable===true}" ng-model="newDistOrder.delivery_invoice_acceptable" uib-btn-radio="false">
        <span class="glyphicon glyphicon-remove" style="color:#E4AFAF; font-weight:bold"></span>
      </label>
      <label class="btn btn-default btn-md" ng-class="{'btn-success':newDistOrder.delivery_invoice_acceptable===true, 'my_error':form_ver.error_dlv_invoice_acceptable===true}" ng-model="newDistOrder.delivery_invoice_acceptable" uib-btn-radio="true">
        <span class="glyphicon glyphicon-ok" style="color:#AADAAA; font-weight:bold"></span>
      </label>
    </div>
  </div>
</div>
<hr style="margin:2px 2px 12px; border-color:#cacaca"/>
<div class="row" style="font-size:1.1em;">
  <div class="col-xs-12" style="text-align:center">
    <div style="display:inline-block">If applicable, enter the <b>Distributor's Invoice #</b> for tracking: </div>
    <input ng-model="newDistOrder.invoice_num" class="form-control" maxlength="15" style="text-align:center; font-size:1.1em; padding-top:5px; width:160px; display:inline-block">
  </div>
</div>
<hr style="margin:12px 2px 0px; border-color:#cacaca"/>
<div class="row" style="margin:20px 6px 12px">
  <div class="col-xs-12 min_padding" style="font-size:1.1em">
    For each item ordered, please indicate whether the delivery was satisfactory.<br/>
    Use the <span class="glyphicon glyphicon-flag" style="color:#cc2200; font-size:1.3em"></span> buttons to flag any obvious discrepencies in quantity or pricing.
  </div>
</div>

<div class="row" style="margin:4px 6px; font-size:1.0em; background-color:#cacaca">
  <div class="col-xs-4 min_padding">
    Product
  </div>
  <div class="col-xs-2 min_padding">
    # Ordered
  </div>
  <div class="col-xs-2 min_padding">
    Estimate
  </div>
  <div class="col-xs-2 min_padding">
    Quality Control
  </div>
  <div class="col-xs-2 min_padding" style="text-align:right; padding-right:8px">
    <b>Satisfactory?</b>
  </div>
</div>
<div ng-repeat="item in newDistOrder.items" class="row" style="margin:8px 6px; padding:7px 0px 3px; font-size:1.1em; background-color:#fcfcfc; border:1px solid #dadada" ng-class="{'selected_row2':item.satisfactory===true, 'selected_row3':item.satisfactory===false}">
  <div class="col-xs-4 min_padding">
    <div style="float:left; display:inline-block">
      <img ng-if="item.icon==='draft'" src="images/bev_draft.png" height="32px" width="32px" style="margin-left:0px">
      <img ng-if="item.icon==='wine'" src="images/bev_wine.png" height="32px" width="32px" style="margin-left:0px">
      <img ng-if="item.icon==='bottle'" src="images/bev_bottle.png" height="32px" width="32px" style="margin-left:0px">
      <img ng-if="item.icon==='can'" src="images/bev_can.png" height="32px" width="32px" style="margin-left:0px">
      <img ng-if="item.icon==='liquor'" src="images/bev_xo.png" height="32px" width="32px" style="margin-left:0px">
    </div>
    <div style="display:inline-block; float:left; margin-left:6px; margin-top:-4px">
      <div style="font-size:0.9em">
        {{item.product}}
        <span ng-if="item.purchase_count>1" style="color:#777777"> (<b>{{item.purchase_count}} count</b>)</span>
      </div>
      <div style="font-size:0.8em; color:#999999">{{item.brewery}}</div>
    </div>
  </div>
  <div class="col-xs-2 min_padding">
    <div style="float:left; display:inline-block">
      <button ng-click="flagQuantity(item)" type="button" class="btn btn-default btn-sm btn_frameless hover_red" ng-class="{'red_color': item.dlv_quantity!==null}" style="margin: -20px 0px 0px -32px; width:28px; height:28px; padding:0; border-radius:14px; border:1px solid #dedede; font-size:1.1em; background-color:#f9f9f9; color:#cacaca" uib-popover="Click flag if the delivered quantity mismatches the ordered quantity." popover-trigger="mouseenter" popover-popup-delay="400" popover-append-to-body="true">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
      </button>
    </div>
    <div style="margin-top:2px">
      <span style="font-size:1.1em">{{item.quantity | number:1}}</span> 
      <span style="color:#a8a8a8; font-size:0.9em">
        {{item.po_unit}}<span ng-if="item.quantity>1">s</span>
      </span>
    </div>
    <div ng-if="item.dlv_quantity!==null" class="red_color" style="font-size:0.8em">
      <li>{{item.dlv_quantity | number:1}} delivered</li>
    </div>
  </div>
  <div class="col-xs-2 min_padding">
    <div style="float:left; display:inline-block">
      <button ng-click="flagInvoice(item)" type="button" class="btn btn-default btn-sm btn_frameless hover_red" ng-class="{'red_color': item.dlv_invoice!==null}" style="margin: -20px 0px 0px -32px; width:28px; height:28px; padding:0; border-radius:14px; border:1px solid #dedede; font-size:1.1em; background-color:#f9f9f9; color:#cacaca" uib-popover="Click flag if the invoice price mismatches the original estimate." popover-trigger="mouseenter" popover-popup-delay="400" popover-append-to-body="true">
        <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
      </button>
    </div>
    <div style="margin-top:2px; font-size:1.1em">
      $ {{item.resolved_subtotal | number:2}}
    </div>
    <div ng-if="item.dlv_invoice!==null" class="red_color" style="font-size:0.8em">
      <li>$ {{item.dlv_invoice | number:2}} invoice</li>
    </div>
    <div ng-if="item.dlv_discount_applied===false" class="red_color" style="font-size:0.8em">
      <li>Missing discount</li>
    </div>
  </div>
  <div class="col-xs-2" style="padding:0">
    <button ng-click="addNotes(item)" ng-if="item.dlv_has_notes!==true" type="button" class="btn btn-default btn-sm" style="padding:2px 8px; font-size:0.9em; color:#aaaaaa; margin-top:1px">
      <span class="glyphicon glyphicon-plus" style="color:#cacaca; font-size:1.0em"></span> Add Notes
    </button>
    <button ng-click="addNotes(item)" ng-if="item.dlv_has_notes===true" type="button" class="btn btn-default btn-sm" style="padding:2px 8px; font-size:0.9em;">
      <span class="glyphicon glyphicon-pencil" style="font-size:1.0em"></span> Edit Notes
    </button>
    <div ng-if="item.dlv_damaged_goods===true" class="red_color" style="font-size:0.8em">
      <li>Damaged goods</li>
    </div>
    <div ng-if="item.dlv_rough_handling===true" class="red_color" style="font-size:0.8em">
      <li>Rough handling</li>
    </div>
    <div ng-if="item.dlv_wrong_item===true" class="red_color" style="font-size:0.8em">
      <li>Wrong item</li>
    </div>
    <div ng-if="item.dlv_comments!==undefined && item.dlv_comments!==null" class="red_color" style="font-size:0.8em">
      <li>{{item.dlv_comments}}</li>
    </div>
  </div>
  <div class="col-xs-2" style="text-align:right">
    <div class="btn-group btn-group-justified" style="display:inline-block; width:80px; font-weight:bold; margin-top:-2px;">
      <label class="btn btn-default btn-md" ng-class="{'btn-danger':item.satisfactory===false, 'my_error':item.error_satisfactory===true}" ng-model="item.satisfactory" uib-btn-radio="false">
        <span class="glyphicon glyphicon-remove" style="color:#E4AFAF; font-weight:bold"></span>
      </label>
      <label class="btn btn-default btn-md" ng-class="{'btn-success':item.satisfactory===true, 'my_error':item.error_satisfactory===true}" ng-model="item.satisfactory" uib-btn-radio="true">
        <span class="glyphicon glyphicon-ok" style="color:#AADAAA; font-weight:bold"></span>
      </label>
    </div>
  </div>
</div>

<div class="row" style="padding:2px 16px 0px">
  <div ng-if="newDistOrder.additional_notes===null" class="col-xs-12" style="text-align:right">
    <span class="hint_text">Additional notes or comments about this Delivery? </span>
    <button ng-click="addAdditionalNote()" type="button" class="btn btn-sm btn-default">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Add Notes
    </button>
  </div>
  <div ng-if="newDistOrder.additional_notes!==null" class="col-xs-12" style="text-align:right; padding-top:12px">
    <textarea ng-model="newDistOrder.additional_notes" placeholder="Enter additional notes about this delivery." rows="2" cols="70" maxlength="126"></textarea>
  </div>
</div>
<hr style="margin-bottom:16px; margin-top:24px; border-color:#dadada"/>
<div class="row" ng-if="new_failure_msg!==null" style="margin: 12px 0px">
  <div class="alert alert-danger" data-html="true" role="alert" style="margin-bottom:0px">
    {{new_failure_msg}}
  </div>
</div>
<div class="row" style="margin:0; margin-top:12px">
  <div class="col-xs-12" style="text-align:right;">
    <button ng-click="save()" type="button" class="btn btn-success btn_ok" style="font-size:18px">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Save & Record Delivery
    </button>
  </div>
</div>

<div ng-include src="'./view_pos_history/modal_dlv_flag_quantity.html'">
<div ng-include src="'./view_pos_history/modal_dlv_flag_invoice.html'">
<div ng-include src="'./view_pos_history/modal_dlv_add_notes.html'">