<div ng-include src="'./purch_subnav.html'"></div>
<div class="container" style="min-width:880px; max-width:880px">

  <div style="width:100%; margin-top:24px; padding-bottom:4px; font-size:1.3em; border-bottom:solid 1px #dddddd">
    <img src="images/inv_po_history.png" height="32" width="32" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:8px; margin-left:2px">Purchase History</div>
  </div>
  <div class="hint_text" style="width:100%; padding-top:2px; font-size:1.0em">
    Review past Purchase Orders and record Deliveries
  </div>

  <div class="row" style="margin:32px 0px; margin-bottom:0px">
    <div class="col-xs-8" style="text-align:left; padding:0">

      <date-range start-date="start_date" end-date="end_date" on-start-change="startDateChanged()" on-end-change="endDateChanged()" show-helpers="true"></date_range>

    </div>
    <div class="col-xs-4 min_padding" style="text-align:right">
      <input ng-model="search_po.query" class="form-control input_small" ng-class="{'blue_box_glow':search_po.active===true}" style="width:140px; display:inline-block;" placeholder="Search by PO#"/>
      <div ng-if="search_po.query.length>0" style="position:absolute; top:0px; right:76px;">
        <button ng-click="clearSearchByPO();getPurchaseOrders();" type="button" class="btn btn-md btn_frameless hover_gray_transparent noselect" style="background-color:none">
            <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        </button>
      </div>
      <button ng-click="searchByPO()" type="button" class="btn btn-default btn-sm" style="vertical-align:top; width:72px" ng-disabled="search_po.query===null || search_po.query.length < 4">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </div>

  <table id="purchaseOrdersTable" summary="Data table for Purchase Orders history." rules="groups" frame="hsides" border="2" style="width:100%; margin-top:8px; margin-bottom:120px">
    <tr>
      <td></td> <!--For view button-->
      <td>Order Date / Status</td> <!--For date-->
      <td>Sent via</td>
      <td>PO #</td>
      <td>Distributor</td>
      <td># Items</td>
      <td>Total ($)</td>
    </tr>
    <tbody ng-repeat="po in purchase_orders" style="border-bottom: 1px solid #b0b0b0">
      <tr class="inv_loc_row" style="font-style:italic; border-bottom:1px solid #d0d0d0; background-color:#eeeeee">
        <td>
          <button ng-click="viewPurchaseOrder(po)" type="button" class="btn btn-md btn_frameless hover_blue" style="font-size:16px; margin-top:1px; padding:2px 4px;">
            <span class="glyphicon glyphicon-eye-open"></span>
          </button>
        </td>
        <td style="font-weight:bold">{{po.order.order_date_pretty}}</td>
        <td>{{po.order.send_method_pretty}}</td>
        <td style="color:#aaaaaa">{{po.order.po_num}}</td>
        <td></td>
        <td></td>
        <td style="font-weight:bold">{{po.order.total | number:2}}</td>
      </tr>
      <!--tr ng-repeat="dorder in po.distributor_orders" ng-class-even="'inv_row_even'" ng-class-odd="'inv_row_odd'" style="background-color:#F6FFEC; border-bottom:1px solid #d0d0d0"-->
      <tr ng-repeat="dorder in po.distributor_orders" ng-class-even="'inv_row_even'" ng-class-odd="'inv_row_odd'" style="background-color:#fefefe; border-bottom:1px solid #d0d0d0;" height="32px">
        <td></td>
        <td></td>
        <td></td>
        <td>{{dorder.do_num}}</td>
        <td>{{dorder.distributor}}</td>
        <td>{{dorder.item_count}}</td>
        <td>{{dorder.total | number:2}}</td>
      </tr>
      <tr><td colspan="7"></td></tr>
    </tbody>
  </table>

  <div class="row" ng-if="purchase_orders.length===0" style="margin-bottom:120px">
    <div class="col-xs-12 hint_text" style="font-size:1.5em; text-align:center">
      No data for selected time period.
    </div> 
  </div>

</div>

<div ng-include src="'./view_pos/review_purchase_order_modal.html'">
<div ng-include src="'./view_pos_history/modal_record_delivery.html'">