<!-- CONFIRM DELETE DISTRIBUTOR MODAL -->
<script type="text/ng-template" id="deleteDistModal.html">
  <!--div class="modal-header" style="padding-top:8px; padding-bottom:4px">
    <span style="font-size:1.2em;margin-left:6px">Delete Distributor: <b>{{distributor.name}}</b></span>
  </div-->
  <div class="modal-body">
    <div class="row" style="font-size:1.2em; margin-top:12px; font-style:italic">
      <div class="col-xs-12">
        Before deleting Distributor <b>{{distributor.name}}</b>, we need one final 
        confirmation from you!
      </div>
    </div>
    <div class="row" style="font-size:1.0em; margin-top:24px; margin-bottom:16px">
      <div class="col-xs-12">
        There are currently Beverages associated with {{distributor.name}}.  
        To proceed, please check-off all the beverages below to signify you 
        understand their Distributor values in the Database will be <b>empty</b> 
        once this Distributor is deleted.
      </div>
    </div>

    <div class="row hint_text" style="border-bottom: solid 1px #cccccc; margin:0">
      <div class="col-xs-5">
        Beverage
      </div>
      <div class="col-xs-4">
        Brewery
      </div>
      <div class="col-xs-3">
        Check all: 
        <input ng-checked="true" type="checkbox" id="democheckbox" class="customCbSqr" style="z-index:-99;" check disabled/>
          <label for="democheckbox" style="margin:0; height:0; margin-top:-10px"></label>
      </div>
    </div>
    <div ng-repeat="bev in dist_beverages" class="row" ng-class-even="'inv_row_even'" ng-class-odd="'inv_row_odd'" style="margin-left:0px; margin-right:0px; padding: 8px 0px">
      <div class="col-xs-5">
        {{bev.product}}
      </div>
      <div class="col-xs-4">
        {{bev.brewery}}
      </div>
      <div class="col-xs-3" style="text-align:center">
        <input ng-checked="false" type="checkbox" id="checkbox{{$index}}" class="customCbSqr" style="z-index:-99;" ng-click="checkedBeverage($index)"/>
        <label for="checkbox{{$index}}" style="margin:0; height:0; margin-top:-6px;"></label>
      </div>
    </div>

  </div>
  <div class="modal-footer" style="padding-bottom:0px">
    <div class="add_row" style="padding-left:0px; text-align:left">
      <button ng-click="confirmDelete()" type="button" ng-class="{'cursor_disabled': all_checked!==true}" class="btn btn-danger btn_ok" ng-disabled="all_checked!==true">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Delete Distributor
      </button>
      <button ng-click="cancel()" type="button" class="btn btn-default btn_ok">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
      </button>
    </div>
  </div>
</script>