<!-- EDIT INVENTORY ITEM MODAL -->
<script type="text/ng-template" id="editDistModal.html">
  <div class="modal-header" style="padding-top:8px; padding-bottom:4px;">
    <span style="font-size:1.1em;margin-left:6px">Edit Distributor Details</span>
  </div>
  <div class="modal-body" style="background-color:#fafafa">

    <div class="row" style="margin-top:0px; padding-left:10px">
      <div class="col-xs-6">
        <div class="form-group" ng-class="{'has-error': form_ver.error_name===true}" style="width:70%; display:inline-block; float:left; margin-bottom:8px">
          <label class="control-label bold label_small"> Distributor Name</label>
          <input ng-model="edit_name" class="form-control input_add input_small" placeholder="e.g., California Beer & Beverage">
        </div>
        <div ng-if="edit_name !== distributor.name" style="display:inline-block; float:left; margin-top:21px; margin-left:10px">
          <button ng-click="saveDistName(edit_name)" type="button" class="btn btn-success btn-sm" uib-popover="Save changes" popover-trigger="mouseenter" popover-popup-delay="300">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
        </div>
        <div ng-if="edit_name !== distributor.name" style="display:inline-block; float:left; margin-top:21px; margin-left:6px">
          <button ng-click="revertDistName()" type="button" class="btn btn-default btn-sm" uib-popover="Undo" popover-trigger="mouseenter" popover-popup-delay="300">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top:0px; padding-left:10px">
      <div class="col-xs-6">
        <div class="form-group" ng-class="{'has-error': form_ver.error_email===true}" style="width:70%; display:inline-block; float:left">
          <label class="control-label optional label_small"> Email</label>
          <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd; margin-left:2px"  uib-popover="This email will be used when sending Purchase Orders to the Distributor from this app." popover-trigger="mouseenter"></span>
          <input ng-model="edit_email" class="form-control input_add input_small" placeholder="e.g., mike@distributor.com">
        </div>
        <div ng-if="edit_email !== distributor.email" style="display:inline-block; float:left; margin-top:21px; margin-left:10px">
          <button ng-click="saveDistEmail(edit_email)" type="button" class="btn btn-success btn-sm" uib-popover="Save changes" popover-trigger="mouseenter" popover-popup-delay="300">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
        </div>
        <div ng-if="edit_email !== distributor.email" style="display:inline-block; float:left; margin-top:21px; margin-left:6px">
          <button ng-click="revertDistEmail()" type="button" class="btn btn-default btn-sm" uib-popover="Undo" popover-trigger="mouseenter" popover-popup-delay="300">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group" ng-class="{'has-error': form_ver.error_phone===true}" style="width:70%; display:inline-block; float:left">
          <label class="control-label optional label_small"> Phone (for SMS)</label>
          <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd; margin-left:2px"  uib-popover="This phone number will be used when texting Purchase Orders to the Distributor from this app." popover-trigger="mouseenter"></span>
          <input ng-model="edit_phone" class="form-control input_add input_small" placeholder="(000) 000-0000">
        </div>
        <div ng-if="edit_phone !== distributor.phone" style="display:inline-block; float:left; margin-top:21px; margin-left:10px">
          <button ng-click="saveDistPhone(edit_phone)" type="button" class="btn btn-success btn-sm" uib-popover="Save changes" popover-trigger="mouseenter" popover-popup-delay="300">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button>
        </div>
        <div ng-if="edit_phone !== distributor.phone" style="display:inline-block; float:left; margin-top:21px; margin-left:6px">
          <button ng-click="revertDistPhone()" type="button" class="btn btn-default btn-sm" uib-popover="Undo" popover-trigger="mouseenter" popover-popup-delay="300">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>

    
    <div class="row" style="background-color:#eaeaea; margin:0px 10px; padding:4px 4px">
      <div class="label_small" style="margin-top:0px; padding-left:10px;">
        <span>Kegs & Deposits</span>
        <span style="margin-left:8px"><a class="help_link" ng-click="showKegHelp()"> What is this?</a></span>
      </div>
    </div>
    

    <div ng-repeat="keg in distributor.kegs" class="row" style="margin:5px 10px; padding:6px 0px;" ng-class="{'green_row': keg.editing===true, 'white_row': keg.editing===false}">
      <div class="col-xs-5" ng-if="keg.editing===false" style="padding-top:6px; padding-left:10px">
        <img src="images/bev_keg.png" height="28px" width="28px" style="margin-top:-4px">
        <span style="font-size:1.0em; margin-left:6px">{{keg.volume | number:2}} {{keg.unit}}</span>
        <span style="color:#999999"> Keg</span>
      </div>
      <div class="col-xs-5 min_padding" ng-if="keg.editing===true">
        <div ng-if="keg.is_new===true" style="float:left; background-color:#44aa00; display:inline-block; padding:2px 6px; margin-left:-12px; margin-top:4px; border-radius:10px">
          <span style="color:white; font-size:0.8em">New</span>
        </div>
        <div class="form-group" ng-class="{'has-error': form_ver.error_volumes[$index]===true || form_ver.error_units[$index]===true}" style="float:left; margin-bottom: 0px; display:inline-block; margin-left:6px">
          <input ng-model="keg.volume" type="number" min="0" class="form-control input_add input_small" style="width:90px; margin-right:6px; float:left" placeholder="Keg Vol." ng-change="kegChanged($index)">
          <select ng-model="keg.unit" class="form-control input_add input_small" ng-options="aunit for aunit in volume_units" style="width:60px; float:left" ng-change="kegChanged($index)"></select>
        </div>
      </div>
      <div class="col-xs-3" ng-if="keg.editing===false" style="padding-top:6px">
        <span ng-if="keg.deposit!==null" style="font-size:1.0em">$ {{keg.deposit | number:2}}</span>
        <span ng-if="keg.deposit!==null" style="color:#999999"> Deposit</span>
        <span ng-if="keg.deposit===null" style="color:#999999">No Deposit</span>
      </div>
      <div class="col-xs-3 min_padding" ng-if="keg.editing===true">
        <div class="form-group" ng-class="{'has-error': form_ver.error_deposits[$index]===true}" style="margin-bottom:0px">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="keg.deposit" type="number" min="0" class="form-control input_add input_small" style="width:90px;" placeholder="Deposit" ng-change="kegChanged($index)">
          </div>
        </div>
      </div>
      <div class="col-xs-4 min_padding" ng-if="keg.editing===false" style="text-align:right">
        <button ng-click="deleteKeg($index)" type="button" class="btn btn-md btn_frameless hover_red" style="margin-right:16px">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button ng-click="editKeg($index)" type="button" class="btn btn-md btn_frameless hover_green" style="margin-right:6px">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </div>
      <div class="col-xs-4 min_padding" ng-if="keg.editing===true" style="text-align:right">
        <button ng-if="keg.is_new!==true" ng-click="saveKeg($index)" type="button" class="btn btn-sm btn-success" style="margin-right:6px;">
          <span class="glyphicon glyphicon-pencil"></span><span ng-if="keg.is_new!==true"> Update</span>
        </button>
        <button ng-if="keg.is_new===true" ng-click="saveKeg($index)" type="button" class="btn btn-sm btn-success" style="margin-right:6px;">
          <span class="glyphicon glyphicon-plus"></span><span ng-if="keg.is_new===true"> Save</span>
        </button>
        <button ng-click="cancelEditKeg($index)" type="button" class="btn btn-md btn-default input_small" style="margin-right:6px; font-size:12px; padding:4px 8px">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
    <div class="row" style="margin: 4px 10px; margin-top:12px;" ng-if="distributor.kegs.length===0 || distributor.kegs.length===original_distributor.kegs.length">
      <div class="col-xs-6 min_padding" style="color:#999999; padding-top:4px; font-size:1.0em">
        <span ng-if="distributor.kegs.length===0">No Kegs for this Distributor yet.</span>
      </div>
      <div class="col-xs-6 min_padding" style="text-align:right;">
        <button ng-click="addNewKeg()" type="button" class="btn btn-default btn-sm add_transparent_btn" style="font-size:14px;">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Keg
        </button>
      </div>
    </div>
    <div ng-show="keg_exists_error!==null" class="row" style="margin: 4px 10px; margin-top:16px;">
      <div class="alert alert-danger" data-html="true" role="alert" style="margin-bottom:0px">
        {{keg_exists_error}}
      </div>
    </div>
    <div ng-show="new_failure_msg !== null" class="row" style="margin: 4px 10px; margin-top:16px;">
      <div class="alert alert-danger" data-html="true" role="alert" style="margin-bottom:0px">
        {{new_failure_msg}}
      </div>
    </div>
  </div>
  <div class="modal-footer" style="padding-bottom:0px;">
    <div class="add_row" style="padding-left:0px; text-align:left">
      <button ng-click="cancel()" type="button" class="btn btn-default btn_ok">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close
      </button>
      <button ng-click="deleteDistributor()" type="button" class="btn btn-danger btn_ok" style="float:right">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Distributor
      </button>
    </div>
  </div>
</script>