<script type="text/ng-template" id="modalInvQuantity.html">
  <div class="modal-body" style="font-size:1.0em; height:100%; background-color:#ffffff">
    <div style="position:absolute; top:-14px; left:-14px">
      <button ng-click="cancel()" type="button" class="btn btn-sm btn_x_circle">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
    <div style="position:absolute; bottom:-32px; right:-32px">
      <button ng-click="save()" type="button" class="btn btn-sm btn_ok_circle">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
    </div>
    <div style="text-align:center; font-size:1.2em; margin-top:16px; color:#aaaaaa">
      Enter Quantity for
    </div>
    <div style="text-align:center; font-size:1.8em; margin-top:-6px">
      {{item.display_name}}
    </div>
    <div style="text-align:center; font-size:1.4em; margin-top:12px">
      <img ng-if="item.icon==='keg'" src="images/bev_keg.png" height="96px" width="96px">
      <img ng-if="item.icon==='draft'" src="images/bev_draft.png" height="96px" width="96px">
      <img ng-if="item.icon==='wine'" src="images/bev_wine.png" height="96px" width="96px" style="margin-left:0px">
      <img ng-if="item.icon==='bottle'" src="images/bev_bottle.png" height="96px" width="96px" style="margin-left:0px">
      <img ng-if="item.icon==='can'" src="images/bev_can.png" height="96px" width="96px" style="margin-left:0px">
      <img ng-if="item.icon==='liquor'" src="images/bev_xo.png" height="96px" width="96px" style="margin-left:0px">
    </div>
    <div style="text-align:center; margin-top:24px;">
      <button ng-click="addQuantity(item,-10, false)" type="button" class="btn btn-default inv_minus_btn_lg" style="margin-right:5px">
        <b>-10</b>
      </button>
      <button ng-click="addQuantity(item,-1, false)" type="button" class="btn btn-default inv_minus_btn_lg">
        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      </button>
      <div class="form" ng-class="{'has-error': new_failure_msg!==null}" style="display:inline-block; vertical-align:top; margin: 0px 5px">
        <input ng-model="quantity" ng-class="{'input_error': new_failure_msg!==null}" class="form-control" style="text-align:center; max-width:96px; height:52px; font-size:1.6em;" ng-change="updateExpectedInvoice()">
      </div>
      <button ng-click="addQuantity(item,1, false)" type="button" class="btn btn-default inv_plus_btn_lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
      <button ng-click="addQuantity(item,10, false)" type="button" class="btn btn-default inv_plus_btn_lg" style="margin-left:5px">
        <b>+10</b>
      </button>
    </div>
    <div ng-if="is_delivery===true" style="margin: 24px 42px 0px; font-size:1.3em">
      <div class="row" style="border-bottom:1px solid #dddddd">
        <div class="col-xs-7" style="color:#888888">
          Unit Price<span ng-if="item.purchase_count > 1"> ({{item.purchase_count}} count)</span>:
        </div>
        <div class="col-xs-5" style="text-align:right">
          <span ng-if="is_edit!==true">
            <button ng-click="editBev(item)" type="button" class="btn btn-md btn_frameless hover_green" style="font-size:16px; min-height:32px;" popover="Update Unit Price." popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="400">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </span>
          <span>
            $ {{item.purchase_cost | number:2}}
          </span>
        </div>
      </div>
      <div class="row" style="border-bottom:1px solid #dddddd; margin-top:8px">
        <div class="col-xs-6" style="color:#888888">
          Expected Invoice:
        </div>
        <div class="col-xs-6" style="text-align:right; font-weight:bold; font-size:1.1em">
          $ {{expected_invoice.value | number:2}}
        </div>
      </div>
      <div class="row" ng-if="is_edit!==true" style="font-size:0.8em; margin-top:8px">
        <div class="col-xs-12">
          If Expected Invoice does not match the actual invoice, 
          update the unit price above to reflect price changes.
        </div>
      </div>
    </div>
    <div style="margin-top:16px; margin-bottom:24px">
      &nbsp;
      <div ng-if="new_failure_msg !== null" class="row" style="font-size:1.2em; color:#aa2222; text-align:center">
        {{new_failure_msg}} 
      </div>
    </div>
  </div>
</script>