<script type="text/ng-template" id="startCountModal.html">
  <div class="modal-header">
    <span style="font-size:1.4em;margin-left:6px">Where should we start counting from?</span>
  </div>
  <div class="modal-body" style="font-size:1.1em">
    <div class="row">
      <div class="col-xs-6" style="padding-right:0">
        <div class="start_count_btn_green" ng-click="pickMode('scratch')">
          <div style="font-size: 1.3em; text-align:center">From Scratch</div>
          <div style="font-size:52px; text-align:center; margin-top:12px">
          <span class="glyphicon glyphicon-check"></span>
          </div>
          <div class="hint_text" style="font-size:1.1em; height:42px"> All beverage quantities start at 0</div>
        </div>
      </div>
      <div class="col-xs-6" style="padding-left:0">
        <div class="start_count_btn_yellow" ng-click="pickMode('previous')">
          <div style="font-size: 1.3em; text-align:center;">From Previous</div>
          <div style="font-size:52px; text-align:center; margin-top:12px">
            <span class="glyphicon glyphicon-edit"></span>
          </div>
          <div class="hint_text" style="font-size:1.1em; height:42px"> Resume quantities from last save</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div ng-if="show_help===false">
      <a ng-click="showHelp()" class="help_link" style="font-size:1.0em;">
        Need help choosing?
      </a>
    </div>
    <div ng-if="show_help===true" style="font-size:1.0em; text-align:left" class="hint_text">
      <br/>
      <b>From Scratch</b> - choose this option to start a thorough top-to-bottom 
      count of inventory items in this location.  By starting all quantities
      at 0, you can be sure not to miss anything.
      <br/><br/>
      <b> From Previous</b> - choose this option if most of the inventory in 
      this location have not changed since you last did inventory, or if you 
      are only updating a couple quantities, as in a correction or edit.
    </div>
  </div>
</script>