<tabset style="margin: 16px 6px; margin-bottom:0px; font-size:1.1em">
  <tab ng-repeat="type in all_add_types" heading="{{type}}" ng-click="selectAddType(type)">
  </tab>
</tabset>
<div class="new_inv_border_box">
  <div ng-if="new_success_msg !== null" class="row" style="margin:6px 6px">
    <div class="add_row">
      <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:0px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        {{new_success_msg}}
      </div>
    </div>
  </div>
  <div class="row" style="margin: 6px 12px">
    <div class="col-xs-7 hint_text" style="padding:0; padding-top:6px">
      Add <span style="color:#55a066">{{add_type}}</span> from your Beverage Database.
    </div>
    <div class="col-xs-5" style="padding:0">
      <input ng-model="add_inv_query.query" class="form-control input-sm" placeholder="Search...">
    </div>
  </div>

  <!-- BEVERAGES SCROLL AREA -->
  <div ng-if="add_type===all_add_types[0]">
    <div class="row add_label_row_container" style="margin: 0px 12px;">
      <div class="col-xs-4 add_inv_sort_div" ng-click="internalControl.sortBevsBy('product')">
        <span class="add_inv_label_span noselect">Product</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key_bev === 'product'" ng-class="{'glyphicon-menu-down': double_sort_bev<0, 'glyphicon-menu-up':double_sort_bev>0}"></span>
      </div>
      <div class="col-xs-4 add_inv_sort_div" ng-click="internalControl.sortBevsBy('brewery')">
        <span class="add_inv_label_span noselect">Brewery</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key_bev === 'brewery'" ng-class="{'glyphicon-menu-down': double_sort_bev<0, 'glyphicon-menu-up':double_sort_bev>0}"></span>
      </div>
      <div class="col-xs-2 add_inv_sort_div" ng-click="internalControl.sortBevsBy('alcohol_type')">
        <span class="add_inv_label_span noselect">Type</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key_bev === 'alcohol_type'" ng-class="{'glyphicon-menu-down': double_sort_bev<0, 'glyphicon-menu-up':double_sort_bev>0}"></span>
      </div>
    </div>
    <div class="add_inv_scroll_area"  style="margin: 0px 12px; margin-bottom:6px">
      <div ng-repeat="inv in allBeverages | filter:add_inv_query.query" class="add_inv_scroll_cell row">
        <div class="col-xs-4 min_padding add_inv_scroll_col" style="padding-top:4px;">
          <div style="font-size:1.0em; padding-left:6px; margin-top:-6px">{{inv.product}}</div>
          <div style="font-size:0.9em; color:#999999; padding-left:6px;"> <span ng-if="inv.purchase_volume!==null">{{inv.purchase_volume | number:1}} {{inv.purchase_unit}}</span> {{inv.container_type}}</div>
        </div>
        <div class="col-xs-4 min_padding add_inv_scroll_col" style="padding-top:8px; font-size:1.0em;">
          {{inv.brewery}}
        </div>
        <div class="col-xs-2 min_padding add_inv_scroll_col" style="padding-top:8px; font-size:1.0em;">
          {{inv.alcohol_type}}
        </div>
        <div class="col-xs-2">
          <button ng-click="addNewInv(inv)" type="button" class="btn btn-success btn-sm" style="font-size:14px; float:right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- KEGS SCROLL AREA -->
  <div ng-if="add_type===all_add_types[1]">
    <div class="row add_label_row_container" style="margin: 0px 12px;">
      <div class="col-xs-4 add_inv_sort_div" ng-click="internalControl.sortKegsBy('distributor')">
        <span class="add_inv_label_span noselect">Distributor</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key_kegs === 'distributor'" ng-class="{'glyphicon-menu-down': double_sort_kegs<0, 'glyphicon-menu-up':double_sort_kegs>0}"></span>
      </div>
      <div class="col-xs-4" style="padding-top:6px">
        <span class="add_inv_label_span noselect">Volume</span>
      </div>
      <div class="col-xs-2 add_inv_sort_div" ng-click="internalControl.sortKegsBy('deposit')">
        <span class="add_inv_label_span noselect">Deposit</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key_kegs === 'deposit'" ng-class="{'glyphicon-menu-down': double_sort_kegs<0, 'glyphicon-menu-up':double_sort_kegs>0}"></span>
      </div>
    </div>
    <div class="add_inv_scroll_area"  style="margin: 0px 12px; margin-bottom:6px">
      <div ng-repeat="keg in allKegs | filter:add_inv_query.query" class="add_inv_scroll_cell row">
        <div class="col-xs-4 min_padding add_inv_scroll_col" style="padding-top:8px; padding-left:8px">
          {{keg.distributor}}
        </div>
        <div class="col-xs-4 min_padding add_inv_scroll_col" style="padding-top:8px; font-size:1.0em;">
          {{keg.volume | number:2}} {{keg.unit}} Keg
        </div>
        <div class="col-xs-2 min_padding add_inv_scroll_col" style="padding-top:8px">
          <span ng-if="keg.deposit!==null">$ {{keg.deposit | number:2}}</span>
        </div>
        <div class="col-xs-2">
          <button ng-click="addNewInv(keg)" type="button" class="btn btn-success btn-sm" style="font-size:14px; float:right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
          </button>
        </div>
      </div>
    </div>
  </div>

</div>