<div class="row" style="margin-left:0px; margin-top:8px; margin-bottom:0px;">
  <div class="col-xs-8">
    <div class="form-group" ng-class="{'has-error': form_ver.error_name===true}" style="width:60%; display:inline-block; float:left">
      <label class="control-label">Location Name </label>
      <input ng-model="new_name" class="form-control input_add" placeholder="Location Name">
    </div>
    <div ng-if="new_name !== editLoc.name" style="display:inline-block; float:left; margin-top:22px; margin-left:10px">
      <button ng-click="saveNewName()" type="button" class="btn btn-success btn-md">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Save Change
      </button>
    </div>
  </div>
  <div class="col-xs-4">
    <div style="display:inline-block; float:right; margin-top:22px; margin-right:12px">
      <button ng-click="deleteLoc()" type="button" class="btn btn-danger btn-md">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
      </button>
    </div>
  </div>
</div>
<div ng-show="new_failure_msg !== null" class="row" style="margin: 0px 12px;">
  <div class="alert alert-danger" data-html="true" role="alert" style="margin-bottom:12px">
    {{new_failure_msg}}
  </div>
</div>