

<div class="row" style="margin-bottom:4px">
  <!--div class="col-sm-12">
    <h4> Inventory Management </h4>
  </div>
  <div class="col-sm-6">
    <p>Track your stock by storage location.</p>
  </div-->
  <div ng-show="empty_locs==false" class="col-sm-12" style="text-align:right">
    <input ng-model="new_loc" placeholder=" New Location..." style="width:140px">
    <button ng-click="addNewLoc(new_loc)" type="button" class="btn btn-primary btn-xs btn_right" style="font-size:14px">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Location
    </button>
  </div>
</div>

<!-- ADD NEW LOCATION HINT WHEN NO LOCATIONS EXIST ALREADY -->
<div ng-show="empty_locs==true">
  <div class="row">
    <div class="col-xs-12">
      <h3> Inventory Management </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 hint_text">
      Add a new location to start tracking your inventory!
      &nbsp;For example, "Meat Freezer", "Storage Closet" or "Minibar Fridge".
    </div>
    <div class="col-sm-6" style="padding: 10px">
      <input ng-model="new_loc" placeholder=" Add New Location..." style="width:160px">
      <button ng-click="addNewLoc(new_loc)" type="button" class="btn btn-primary btn-xs btn_right" style="font-size:14px">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Location
      </button>
    </div>
  </div>
</div>

<!-- DRAW EXISTING LOCATIONS -->
<div ng-show="empty_locs==false">
  <div class="row">
    <div ng-repeat="loc in locations">
      <button class="col-xs-2 btn btn-default btn-md" style="margin-left:12px; padding:10px" ng-click="selectLoc(loc)" ng-class="{sel_loc: loc.name === selected_loc}">{{loc.name}}</button>
    </div>
  </div>
</div>

<div ng-show="selected_loc!=null" style="margin-top:30px;">
  <div class="row">
    <div class="col-xs-12" style="border-top:solid 1px #cccccc; padding-bottom:20px"></div>
  </div>
</div>
<div ng-show="selected_loc!=null" style="margin-top:4px; margin-bottom:16px">
  <div class="row">
    <div class="col-xs-8">
      <h4>{{selected_loc}} Inventory</h4>
    </div>
    <div class="col-xs-4" style="text-align:right">
      <button ng-click="" type="button" class="btn btn-default btn-sm btn_right" style="font-size:12px">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit
      </button>
    </div>
  </div>
</div>

<!-- ADD NEW INV ITEM HINT WHEN NO ITEMS EXIST ALREADY -->
<div ng-show="selected_loc!=null && add_inv==false">
  <div ng-show="empty_inv==true">
    <div class="row">
      <div class="col-xs-8 hint_text">
        This storage location doesn't have any inventory items yet! &nbsp; To get
        started, add your first inventory item(s). 
      </div>
      <div class="col-xs-4" style="text-align:right">
        <button ng-click="showAddInv()" type="button" class="btn btn-success btn-sm btn_right" style="font-size:14px">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Inventory
        </button>
      </div>
    </div>
  </div>
  <div ng-show="empty_inv==false">
    <div class="row">
      <div class="col-xs-9 hint_text">
        When doing inventory checklisting, update each item's Quantity and 
        Unit Price as needed, then click <b>Update</b> to save and mark it
        as checked.
      </div>
      <div class="col-xs-3" style="text-align:right">
        <button ng-click="showAddInv()" type="button" class="btn btn-success btn-sm btn_right" style="font-size:14px">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Inventory
        </button>
      </div>
    </div>
  </div>
</div>

<div ng-show="add_inv==true" class="add_inv">
  <div class="row">
    <div class="col-xs-8" style="font-size:1.1em; font-weight:bold; margin-top:2px; padding-left:30px;">
      Add Items to Location
    </div>
    <div class="col-xs-4" style="text-align:right">
      <button ng-click="hideAddInv()" type="button" class="btn btn-default btn-sm btn_right" style="font-size:14px">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Done
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 hint_text" style="padding-left:44px; margin-top:10px">
      Add inventory items to track your stock in this location. If the item type
      exists in other locations already, pick from the list of <b>existing</b>
      items in the system.
    </div>
  </div>
  <!-- Inventory update messages dialog -->
  <div ng-show="new_inv_msg.length>0" style="margin-top:8px;">
    <div class="row">
      <div class="col-xs-12">
        <div class="add_inv_msg">
          <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
          {{new_inv_msg}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-left:44px; margin-top:20px; font-size:1.1em">
      <b>New</b> inventory item:
    </div>
    <div class="col-xs-12">
      <input ng-model="new_inv" placeholder=" Item name, e.g., Heineken keg" style="width:50%; margin-top:6px; margin-left:28px">
      <button ng-click="addNewInv(new_inv)" type="button" class="btn btn-success btn-xs" style="font-size:14px; margin-left: 16px">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" style="padding-left:44px; margin-top:20px; font-size:1.1em">
      <b>Existing</b> items in all locations:
    </div>
  </div>
  <!-- SCROLL AREA FOR EXISTING INVENTORY ITEMS -->
  <div class="row">
    <div class="col-xs-12" style="margin-top:12px; margin-bottom:20px">
      <div class="add_inv_scroll_area">
        <div class="add_inv_scroll_cell">
          Test
        </div>
        <div class="add_inv_scroll_cell">
          Test
        </div>
        <div class="add_inv_scroll_cell">
          Test
        </div>
        <div class="add_inv_scroll_cell">
          Test
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Location inventory -->
<div ng-show="empty_inv==false && inv_items.length>0" style="margin-top:12px">
  <div class="row label_row">
    <div class="col-xs-2 col-sm-3">Item Name</div>
    <div class="col-xs-2">Unit</div>
    <div class="col-xs-2">Quantity</div>
    <div class="col-xs-3 col-sm-2">Unit Price</div>
    <!--div class="col-xs-3" style="text-align:right">Update Item</div-->
  </div>
  <div ng-repeat="inv in inv_items">
    <div ng-class-even="'row inv_row inv_row_even'" ng-class-odd="'row inv_row'">
      <div class="col-xs-2 col-sm-3" style="padding-top:4px">
        {{inv.name}}
      </div>
      <div class="col-xs-2" style="padding-top:4px">{{inv.unit}}</div>
      <div class="col-xs-2" style="padding-top:4px">
        <input ng-model="inv.quantity" style="width:100%; text-align:center">
      </div>
      <div class="col-xs-2 col-sm-2" style="padding-top:4px">
        <div class="hidden-xs" style="width:15%; float:left">$</div>
        <input ng-model="inv.unit_price" style="float:left; width:85%; text-align:center">
      </div>
      <div class="col-xs-1">
        <span ng-click="removeInvItem($index)" type="button" class="glyphicon glyphicon-trash" style="font-size:1.1em; padding-top:8px; color:#aaaaaa"><span>
      </div>
      <div class="col-xs-3 col-sm-2" style="text-align:right;">
        <span ng-show="inv.updated_today==true" class="glyphicon glyphicon-ok-circle" style="font-size:1.2em;"></span>
        <button ng-click="updateInvItem($index)" type="button" class="btn btn-default btn-sm" style="font-size:14px;">Update</button>
      </div>
    </div>
  </div>
</div>







