<div ng-include src="'./bev_subnav.html'"></div>
<div class="container" style="min-width:880px; max-width:960px">

  <div style="width:100%; margin-top:24px; padding-bottom:6px; font-size:1.3em; border-bottom:solid 1px #dddddd">
    <img src="images/inv_menu.png" height="32" width="32" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:8px; margin-left:2px">Plan Beverages Menu</div>
  </div>
  <div class="hint_text" style="width:100%; padding-top:4px;">
    Plan current and upcoming beverages for sale
  </div>

  <!--Use this page to track par for beverages being sold; you can even make purchase 
  orders to your Distributors, assuming you've done inventory.-->

  <uib-tabset style="margin-top:36px; font-size:1.0em;">
    <uib-tab ng-repeat="mode in use_modes" heading="{{mode}}" ng-click="selectUseMode(mode)">
    </uib-tab>
  </uib-tabset>
  <div style="margin: 0px; padding:12px 16px; border: 1px solid #dddddd; border-top: none; background-color:#fdfdfd; margin-bottom:128px">
    <div ng-if="use_mode===0">
      <div class="" style="margin-top:12px; font-size:1.6em; display:inline-block;">
        Staples
      </div>
      <div class="hint_text" style="display:inline-block;margin: 0px 12px 10px; font-size:1.0em;">
        Beverages you sell year-round and almost always carry in stock.
      </div>
    </div>
    <div ng-if="use_mode===1">
      <div class="" style="margin-top:12px; font-size:1.6em; display:inline-block;">
        Seasonal
      </div>
      <div class="hint_text" style="display:inline-block;margin: 0px 12px 10px; font-size:1.0em;">
        Rotational beverages served for a limited period of time.
      </div>
    </div>
    <div ng-if="use_mode===2">
      <div class="" style="margin-top:12px; font-size:1.6em; display:inline-block;">
        Inactive
      </div>
      <div class="hint_text" style="display:inline-block;margin: 0px 12px 10px; font-size:1.0em;">
        These beverages are currently not being served.
      </div>
    </div>
    <hr style="margin:0; margin-top:-6px"/>

    <div ng-if="show_add_ui===true" class="add_ui_box_green" style="margin-top:12px" ng-style="addUIStyle">
      <div class="add_title_bar_green">
        <button ng-click="hideAddInv()" type="button" class="btn btn-default btn_x" style="float:left">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <div class="add_title_green">
          <span ng-if="use_mode===0" style="font-size:1.0em;"> Add Beverages to Staples Menu </span>
          <span ng-if="use_mode===1" style="font-size:1.0em;"> Add Beverages to Seasonal Menu </span>
        </div>
        <br/>
      </div>
      <uib-tabset style="margin:12px 12px 0px; font-size:1.0em;">
        <uib-tab ng-repeat="mode in add_modes" heading="{{mode}}" ng-click="selectAddMode(mode)">
        </uib-tab>
      </uib-tabset>
      <div style="display:block; position:relative; bottom:0; top:0px; left: 0; right:0; margin:0px 12px 12px; padding:4px 8px; padding-bottom:12px; background-color:#ffffff; border:1px solid #dddddd; border-top:none" ng-style="addUIHeight">
        <div ng-if="add_mode===0">
          <addable-inv all-bevs="add_inv_unadded" all-kegs="[]" added-items="inventory_items" control="addableControl" show-tabs="false" use-override-add-func="true" override-add-func="showParModal(item, use_mode, false)"></addable-inv>
        </div>
        <div ng-if="add_mode===1">
          <new-beverage all-distributors="all_distributors" all-breweries="all_breweries" volume-units="volume_units" prepopulate-vars="{'sale_status':sale_statuses[use_mode]}" required-vars="['par','sale_status']" control="newBevControl" edit-mode="'all'" close-on-save="newBeverageCloseOnSave(new_beverage)"></new-beverage>
        </div>
      </div>
    </div>

    <div style="margin-top:18px; overflow:hidden">
      <div style="display:inline-block; float:left; margin-right:8px">
        <button ng-if="use_mode!==2" ng-show="show_add_ui===false" ng-click="showAddInv()" type="button" class="btn btn-success btn-sm" style="font-size:13px;">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Beverages
        </button>
      </div>
      <div style="display:inline-block; width:200px; float:left; position:relative">
        <input ng-model="filter_query.query" class="form-control input-md" style="height:33px; font-size:0.9em" placeholder="Search For Item...">
        <div ng-if="filter_query.query.length>0" style="position:absolute; top:2px; right:0px;">
          <button ng-click="filter_query.query=''" type="button" class="btn btn-md btn_frameless hover_gray_transparent noselect" style="background-color:none">
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>

    <table style="width: 100%; border-bottom:1px solid #dddddd; border-top: 1px solid #dddddd; margin-bottom:24px; margin-top:8px">
      <tr style="font-size:13px; ;background-color: #e0f0ff;">
        <td class="all_inv_label_span noselect" style="width:20px; border-left: 1px solid #dddddd">
        </td>
        <td class="all_inv_label_span noselect" style="width:190px;">
          <div class="sort_div" ng-click="sortBy('product')">
            <span>Product</span>
            <span ng-show="sort_key === 'product'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
          </div>
        </td>
        <td class="all_inv_label_span noselect" style="width:150px;">
          <div class="sort_div" ng-click="sortBy('brewery')">
            <span>Brewery</span>
            <span ng-show="sort_key === 'brewery'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
          </div>
        </td>
        <td ng-if="use_mode===1" class="all_inv_label_span noselect" style="width:125px; background-color:#d0eaff">
          <div class="sort_div" ng-click="sortBy('sale_start')">
            <span>Start Sale</span>
            <span ng-show="sort_key === 'sale_start'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
          </div>
        </td>
        <td ng-if="use_mode===1" class="all_inv_label_span noselect" style="width:125px; background-color:#d0eaff">
          <div class="sort_div" ng-click="sortBy('sale_end')">
            <span>End Sale</span>
            <span ng-show="sort_key === 'sale_end'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
          </div>
        </td>
        <td class="all_inv_span" style="width:70px; border-bottom:none">Serving</td>
        <td class="all_inv_span" style="width:80px; border-bottom:none">Retail</td>
        <td ng-if="use_mode!==2" class="all_inv_label_span noselect" style="width:60px;">
          <div class="sort_div" ng-click="sortBy('par')">
            <span>Par</span>
            <span ng-show="sort_key === 'par'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
          </div>
        </td>
        <td ng-if="use_mode!==2" class="all_inv_label_span noselect" style="width:70px;">
          <div class="sort_div" ng-click="sortBy('stock')" uib-popover="Recently recorded quantity in Inventory.  Inventory done more than 3 days ago is not included!" popover-trigger="mouseenter" popover-append-to-body="true">
            <span>Stock</span>
            <span ng-show="sort_key === 'stock'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
          </div>
        </td>
        <td ng-if="use_mode===2" class="all_inv_span noselect" style="width:130px">
        </td>
      </tr>

      <tr ng-if="inventory_items===null || inventory_items.length===0" class="inv_row">
        <td class="all_inv_span hint_text" colspan="100" style="font-size:1.5em; text-align:center; padding: 24px 0px; background-color:white">
          No Beverages added yet.
        </td>
      </tr>

      <tr ng-repeat="inv in inventory_items | filter:filter_query.query" ng-class-even="'inv_row inv_row_even'" ng-class-odd="'inv_row inv_row_odd'" style="font-size:13px" ng-class="{'hint_text gray_bg': inv.upcoming===true, 'inv_row_odd': use_mode===1}">
        <td class="all_inv_span min_padding" style="width:20px; text-align:center;">
          <button ng-click="editBeverage(inv)" type="button" class="btn btn-xs btn_edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
        <td class="all_inv_span" style="width:190px;">
          <div style="display:inline-block; float:left; margin-top:2px">
            <img ng-if="inv.icon==='keg'" src="images/bev_keg.png" height="28px" width="28px">
            <img ng-if="inv.icon==='draft'" src="images/bev_draft.png" height="28px" width="28x">
            <img ng-if="inv.icon==='wine'" src="images/bev_wine.png" height="28px" width="28px" style="margin-left:0px">
            <img ng-if="inv.icon==='bottle'" src="images/bev_bottle.png" height="28px" width="28px" style="margin-left:0px">
            <img ng-if="inv.icon==='can'" src="images/bev_can.png" height="28px" width="28px" style="margin-left:0px">
            <img ng-if="inv.icon==='liquor'" src="images/bev_xo.png" height="28px" width="28px" style="margin-left:0px">
          </div>
          <div style="display:inline-block; float:left; vertical-align:top; padding-left:4px">
            <div style="margin-top:-2px">
              {{inv.product}}
            </div>
            <div class="hint_text" style="font-size:0.9em; margin-top:0px">
              <span ng-if="inv.purchase_volume!==null">{{inv.purchase_volume | number:1}} {{inv.purchase_unit}}</span>
              <span>{{inv.container_type}}</span>
            </div>
          </div>
        </td>
        <td class="all_inv_span" style="width:150px;">{{inv.brewery}}</td>
        <td ng-if="use_mode===1" class="all_inv_span" style="width:125px;" >
          <div style="display:inline-block; float:left; vertical-align:top; padding-left:4px">
            <div>
              {{inv.sale_start_pretty}}
            </div>
            <div ng-if="inv.days_til_sale!==null && inv.days_til_sale>=1 && inv.days_til_sale < 14" style="font-size:0.8em; margin-top:0; border-radius:4px; padding:1px 2px; background-color:#44aa00; text-align:center; color:white">
              Starts: {{inv.days_til_sale}} days!
            </div>
          </div>
          <div style="position:absolute; top:auto; bottom:auto; right:2px;">
            <date-button date="inv.sale_start" max-date="inv.sale_end" end-of-day="false" on-date-change="editDate(inv, 'start')"/>
          </div>
        </td>
        <td ng-if="use_mode===1" class="all_inv_span" style="width:125px;">
          <div style="display:inline-block; float:left; vertical-align:top; padding-left:4px">
            <div>
              {{inv.sale_end_pretty}}
            </div>
            <div ng-if="inv.days_til_end!==null && inv.days_til_end<14" style="font-size:0.8em; margin-top:0; border-radius:4px; padding:1px 2px; background-color:#dd6622; text-align:center; color:white">
              Ends: {{inv.days_til_end}} days!
            </div>
          </div>
          <div style="position:absolute; top:auto; bottom:auto; right:2px;">
            <date-button date="inv.sale_end" min-date="inv.sale_start" end-of-day="true" on-date-change="editDate(inv, 'end')"/>
          </div>
        </td>
        <td class="all_inv_span" style="width:80px;">
          <div ng-repeat="sp in inv.size_prices" style="padding:2px 0px">
            <span style="display:inline-block; min-width:50%">
              {{sp.volume | number:2}} 
            </span>
            <span style="color:#999999">
              {{sp.unit}}
            </span>
          </div>
        </td>
        <td class="all_inv_span" style="width:70px;">
          <div ng-repeat="sp in inv.size_prices" style="padding:2px 0px">
            <span ng-if="sp.price !== null"><span class="inv_symbol">$</span> {{sp.price | number:2}}</span>
            <span ng-if="sp.price === null"> -- </span>
          </div>
        <td ng-if="use_mode!==2" class="all_inv_span" style="width:60px;">
          {{inv.par | number:1}}
        </td>
        <td ng-if="use_mode!==2" class="all_inv_span" style="width:70px;">
          <span ng-if="inv.count!==null">{{inv.count | number:1}}</span>
          <span ng-if="inv.count===null" class="glyphicon glyphicon-alert" style="font-size:16px; color:#fce6b0; float:right" uib-popover="No Inventory records in the past 3 days!" popover-trigger="mouseenter" popover-append-to-body="true"></span>
        </td>
        <td class="all_inv_span" ng-if="use_mode===2" style="width:130px; text-align:center">

            <div class="btn-group" style="width:100%;" uib-dropdown>
              <button type="button" class="btn btn-default btn-md dropdown-toggle input_small" style="width:100%;" uib-dropdown-toggle>
                <span class="noselect" style="float:left; text-align:left; width:90%;  color:#999999">
                  Move to Menu:
                </span>
                <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:12px; color:#888888"></span>
              </button>
              <ul class="loc_dropdown dropdown-menu" role="menu">
                <li class="inv_dropdown_li" ng-repeat="menu in move_menus">
                  <a ng-click="moveToMenu(inv, menu)" class="noselect">{{menu}}</a>
                </li>
              </ul>
            </div>

        </td>
      </tr>
    </table>
  </div>
</div>

<div ng-include src="'./view_all/edit_inv_modal.html'">
<div ng-include src="'./view_sales_plan/modal_par_quantity.html'">
<div ng-include src="'./view_sales_plan/template_date_button.html'">