<div ng-include src="'./inv_subnav.html'"></div>
<div class="container" style="min-width:620px; max-width:880px">

  <div style="width:100%; margin-top:24px; padding-bottom:6px; font-size:1.6em; border-bottom:solid 1px #dddddd">
    <img src="images/inv_keg.png" height="36" width="36" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:2px; margin-left:2px">Empty Kegs</div>
  </div>
  <div class="hint_text" style="width:100%; padding-top:4px;">
    Track empty keg inventory by physical storage locations.
  </div>

  <div ng-if="add_loc===true || empty_locs===true" class="add_loc" style="margin-top:16px">
    <div class="row">
      <div class="col-xs-9" style="font-size:1.3em; padding-top:4px; padding-left:30px;">
        Add New Location
      </div>
      <div class="col-xs-3" ng-if="empty_locs!==true" style="text-align:right">
        <button ng-click="hideAddLoc()" type="button" class="btn btn-default btn-sm btn_right" style="font-size:14px">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="row" ng-if="empty_locs===true" style="padding-left:30px; margin-top:10px;font-size:1.1em">
      We track empty kegs by storage Locations.  &nbsp;Let's create one to get started!
    </div>
    <div class="row" style="padding-left:16px; margin-top:12px; margin-bottom:16px">
      <div class="col-xs-9">
        <input ng-model="new_loc" class="form-control" placeholder="Location Name; for example, 'Keg Room' or 'Back Storage'">
      </div>
      <div class="col-xs-3" style="text-align:right">
        <button ng-click="addNewLoc(new_loc)" type="button" class="btn btn-primary btn-sm btn_right" style="font-size:14px; float:right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Location
        </button>
      </div>
    </div>
  </div>

  <div ng-if="empty_locs===false" style="margin-top:24px; margin-bottom:24px">
    <div class="row">
      <div class="col-xs-6">
        <span style="float:left">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle loc_dropdown" dropdown-toggle style="font-size:1.2em">
              <span ng-if="selected_loc !== null" style="float:left; text-align:left; width:90%">
                {{selected_loc}} 
              </span>
              <span ng-if="selected_loc === null" class="noselect" style="float:left; text-align:left; width:90%">
                Select a Location
              </span>
              <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:14px; color:#888888"></span>
            </button>
            <ul class="loc_dropdown dropdown-menu" role="menu">
              <li class="loc_li" ng-repeat="loc in locations">
                <a ng-click="selectLoc(loc)" ng-class="{new_loc: loc.is_add === true}" class="noselect">{{loc.name}}</a>
              </li>
            </ul>
          </div>
        </span>
        <span ng-if="selected_loc !== null">
          <button ng-click="toggleEditLoc()" type="button" class="btn btn-default btn-sm" style="font-size:24px; height:39px; float:left; margin-left:8px; color:#b5d9f0; border-color:#dddddd">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
          </button>
        </span>
        <!--span style="font-size:1.6em; float:left;">{{selected_loc}}</span-->
      </div>
      <div ng-if="last_update !== null" class="col-xs-6" style="text-align:right; margin-top:0px;">
        <div style="font-size:1.1em">Total Inventory: ${{total_inventory | number:2}}</div>
        <div class="hint_text">Last Counted: {{last_update}}</div>
      </div>
    </div>
  </div>

  <div ng-if="selected_loc!==null && edit_loc===true" class="add_loc" style="margin-bottom:24px">
    <div class="row">
      <div class="col-xs-8" style="font-size:1.1em; padding-top:4px; padding-left:30px">
        Edit This Location
      </div>
      <div class="col-xs-4" style="text-alight:right">
        <button ng-click="toggleEditLoc()" type="button" class="btn btn-default btn-sm btn_right" style="font-size:14px;">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="row" style="margin-top:6px">
      <div class="col-xs-8" style="padding-left:30px">
        <div class="form-group" ng-class="{'has-error': false}" style="width:60%; display:inline-block; float:left">
          <label class="control-label"> Name </label>
          <input ng-model="edit_loc_name" class="form-control input_add" placeholder="Location Name">
        </div>
        <div ng-if="edit_loc_name !== selected_loc" style="display:inline-block; float:left; margin-top:22px; margin-left:10px">
          <button ng-click="saveLocName(edit_loc_name)" type="button" class="btn btn-success btn-md">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Save
          </button>
        </div>
      </div>
      <div class="col-xs-4">
        <div style="display:inline-block; float:right; margin-top:22px; margin-right:4px">
          <button ng-click="deleteLoc()" type="button" class="btn btn-danger btn-md">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- ADD NEW INV ITEM HINT WHEN NO ITEMS EXIST ALREADY -->
  <div ng-if="selected_loc!=null && add_inv==false">
    <div ng-if="empty_inv==true">
      <div class="row">
        <div class="col-xs-9" style="font-size:1.1em">
          This Location doesn't have trackable kegs yet!<br/>Before we can 
          count empty kegs, add your first keg type(s). 
        </div>
        <div class="col-xs-3" style="text-align:right">
          <button ng-click="showAddInv()" type="button" class="btn btn-success btn-sm btn_right" style="font-size:14px">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Keg Types
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="selected_loc!==null && add_inv==true" class="add_inv" style="margin-top:12px; margin-bottom:28px">
    <div class="row">
      <div class="col-xs-8" style="font-size:1.2em; padding-top:4px; padding-left:30px;">
        Add Keg Types to {{selected_loc}}
      </div>
      <div class="col-xs-4" style="text-align:right">
        <button ng-click="hideAddInv()" type="button" class="btn btn-default btn-sm btn_right" style="font-size:12px">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="row add_inv_divider"></div>
    <div class="row" style="margin:0px 24px">
      <div ng-if="new_success_msg !== null" class="add_row">
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        {{new_success_msg}}</div>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-7 hint_text" style="padding-left:44px; padding-top:6px;">
        Add keg types from your Beverage Database.
      </div>
      <div class="col-xs-5" style="padding-right:44px">
        <input ng-model="add_inv_query.query" class="form-control input-sm" placeholder="Search...">
      </div>
    </div>
    <!-- SCROLL AREA FOR EXISTING INVENTORY ITEMS -->


    <div class="row add_label_row_container" style="margin-top:12px;">
      <div class="col-xs-4 add_inv_sort_div" ng-click="sortAddBy('product')">
        <span class="add_inv_label_span noselect">Product</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_add_key === 'product'" ng-class="{'glyphicon-menu-down': add_double_sort<0, 'glyphicon-menu-up':add_double_sort>0}"></span>
      </div>
      <div class="col-xs-4 add_inv_sort_div" ng-click="sortAddBy('distributor')">
        <span class="add_inv_label_span noselect">Distributor</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_add_key === 'distributor'" ng-class="{'glyphicon-menu-down': add_double_sort<0, 'glyphicon-menu-up':add_double_sort>0}"></span>
      </div>
    </div>
    <div class="add_inv_scroll_area" style="margin-bottom:20px">
      <div ng-repeat="inv in add_inv_existing_items | filter:add_inv_query.query" class="add_inv_scroll_cell row">
        <div class="col-xs-4 min_padding add_inv_scroll_col" style="padding-top:4px;">
          <div style="font-size:1.1em; padding-left:6px; margin-top:-6px">{{inv.product}}</div>
          <div style="font-size:0.9em; color:#999999; padding-left:6px;"> <span ng-if="inv.purchase_volume!==null">{{inv.purchase_volume | number:1}} {{inv.purchase_unit}}</span> {{inv.container_type}}</div>
        </div>
        <div class="col-xs-6 min_padding" style="padding-top:8px; font-size:1.0em;">
          {{inv.distributor}}
        </div>
        <div class="col-xs-2">
          <button ng-click="addExistingInv(inv)" type="button" class="btn btn-success btn-sm" style="font-size:14px; float:right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="selected_loc !== null && empty_inv !== true" style="margin-top:36px">
    <div class="row" ng-if="inv_started === false">
      <div class="col-xs-12" style="float:none">
        <button ng-click="promptStartInv()" type="button" class="btn btn-default inv_xl_btn center-block">
          <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Start Counting Kegs
        </button>
      </div>
    </div>

    <div class="row" ng-if="inv_started === true">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4 min_padding" style="text-align:center">
        <button ng-click="saveInv()" type="button" class="btn btn-success inv_xl_btn_dark" style="padding-right:36px; padding-left:36px;">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Finish & Save
        </button>
      </div>
      <div class="col-xs-4 min_padding" style="text-align:right">
        <button ng-click="cancelInv()" type="button" class="btn btn-default btn-md" style="height:54px">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Discard Changes
        </button>
      </div>
    </div>

    <div class="row" style="margin-top:12px; min-height:16px">
      <div ng-if="update_failure_msg.length > 0" class="col-xs-12 center-block alert alert-danger" role="alert">
        {{update_failure_msg}}
      </div>
    </div>
  </div>

  <div ng-if="empty_inv===false && selected_loc !== null" style="margin-top:0px">

    <div ng-if="inv_started===false" class="row" style="font-size:1.0em">
      <div class="col-xs-12">
        The Quantities below are from the last time you did inventory. <br/>
        To start current inventory, press the <b>Start Counting Kegs</b>
        button above!
      </div>
    </div>

    <div ng-if="inv_started===true">
      <div class="row">
        <div class="col-xs-12" style="text-align:center; font-size:1.2em">
          When you finish counting inventory in this location, don't forget to 
          <b>Finish & Save</b>!
        </div>
      </div>
    </div>
  </div>

  <!-- Location inventory -->
  <div ng-if="empty_inv==false && inv_items.length>0 && selected_loc !== null" style="margin-top:8px;">
    <div class="row label_row_container">
      <div class="col-xs-3 inv_sort_div" ng-click="sortBy('product')">
        <button ng-if="add_inv===false" ng-click="showAddInv()" type="button" class="btn btn-success btn-sm" style="margin-left:-4px; margin-top:-6px; height:32px; font-size:1.0em; position:absolute" onclick="event.preventDefault(); event.stopPropagation();">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <span class="inv_loc_label_span noselect" style="padding-left:40px">Product</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key === 'product'" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
      </div>
      <div class="col-xs-3 inv_sort_div" ng-click="sortBy('distributor')">
        <span class="inv_loc_label_span noselect">Distributor</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key === 'distributor'" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
      </div>
      <div class="col-xs-2 inv_sort_div" ng-click="sortBy('deposit')" ng-if="inv_started===false">
        <span class="inv_loc_label_span noselect">Deposit</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key === 'deposit'" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
      </div>
      <div class="col-xs-1 inv_sort_div" ng-click="sortBy('quantity')" ng-if="inv_started===false">
        <span class="inv_loc_label_span noselect">Qty</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key === 'quantity'" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
      </div>
      <div class="col-xs-5 inv_sort_div" ng-click="sortBy('quantity')" ng-if="inv_started===true">
        <span class="inv_loc_label_span noselect">Quantity</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key === 'quantity'" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
      </div>
      <div class="col-xs-2 inv_sort_div" ng-click="sortBy('inventory')" ng-if="inv_started===false" popover="Inventory = Quantity * Deposit.  The deposit value of kegs can be edited in the All Beverages DB." popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
        <span class="inv_loc_label_span noselect">Inventory</span>
        <span class="glyphicon inv_sort_carat glyphicon-menu-down noselect" ng-show="sort_key === 'inventory'" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
      </div>
      <!--div class="col-xs-3" style="text-align:right">Update Item</div-->
    </div>
    <div ng-repeat="inv in inv_items">
      <div ng-class-even="'row inv_row_container inv_row_even'" ng-class-odd="'row inv_row_container'">
        <div class="col-xs-3 min_padding" style="padding-top:6px;">
          <!--span ng-if="inv.updated_today==true" class="glyphicon glyphicon-ok-circle check_circle" style="margin-right:6px; float:left; margin-top:-2px;"></span-->
          <div style="font-size:1.1em; padding-left:6px; margin-top:-6px">{{inv.product}}</div>
          <div style="font-size:0.9em; color:#999999; padding-left:6px;"> 
            <span ng-if="inv.purchase_volume!==null">{{inv.purchase_volume | number:1}} {{inv.purchase_unit}}</span> {{inv.container_type}}</div>
        </div>
        <div class="col-xs-3 min_padding inv_col" style="padding-top:6px">
          {{inv.distributor}}
        </div>
        <div class="col-xs-2 min_padding" style="padding-top:6px; padding-left:12px !important" ng-if="inv_started===false">
          <span ng-if="inv.deposit!==null">$ {{inv.deposit | number:2}}</span>
        </div>
        <div class="min_padding" ng-class="{'col-xs-1': inv_started===false, 'col-xs-6': inv_started===true}">

          <div ng-if="inv_started===false" style="font-size:1.1em; padding-top:6px; padding-left:2px;">
            {{inv.quantity}}
          </div>

          <div ng-if="inv_started===true">
            <button ng-click="addQuantity(inv,-1, false)" type="button" class="btn btn-default inv_minus_btn">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
            <div class="form" ng-class="{'has-error': inv.invalid_quantity===true}">
              <input ng-model="inv.quantity" ng-class="{'input_error': inv.invalid_quantity===true}" class="form-control" style="display:inline-block; float:left; text-align:center; max-width:64px; height:38px; font-size:1.3em;">
            </div>
            
            <button ng-click="addQuantity(inv,1, false)" type="button" class="btn btn-default inv_plus_btn">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button ng-click="addQuantity(inv,inv.add_q, true)" type="button" class="btn btn-default inv_plus_btn" style="margin-left:16px">
              <b>Add:</b>
            </button>
            <div class="form" ng-class="{'has-error': inv.invalid_quantity===true}">
              <input ng-model="inv.add_q" ng-class="{'input_error': inv.invalid_quantity===true}" class="form-control" style="display:inline-block; float:left; text-align:center; max-width:56px; height:38px; font-size:1.3em;" placeholder="">
            </div>
          </div>
        </div>
        <div ng-if="inv_started===false" class="min_padding col-xs-2">
          <div style="padding-left:4px; padding-top:6px">
            <span style="vertical-align:top">$ {{inv.inventory | number:2}}</span>
            <span ng-if="inv.out_of_date===true" class="glyphicon glyphicon-exclamation-sign" style="font-size:18px; color:#ffbb22;" popover="This beverage has been updated since its inventory was last saved, and the old inventory value might not reflect its current pricing." popover-trigger="mouseenter" popover-append-to-body="true"></span>
          </div>
        </div>
        <div class="col-xs-1 min_padding" ng-if="inv_started===false">
          <button ng-click="removeInvItem($index)" type="button" class="btn btn-default btn-sm btn-right" style="font-size:14px; min-height:32px; color:#888888">
            <span class="glyphicon glyphicon-trash" aria-hidden="true" style="color:#aaaaaa"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-include src="'./view_loc/start_count_modal.html'">