<div ng-include src="'./pd_subnav.html'"></div>
<div class="container" style="min-width:620px; max-width:880px">

  <div style="width:100%; margin-top:24px; padding-bottom:6px; font-size:1.6em; border-bottom:solid 1px #dddddd">
    <img src="images/inv_box_move.png" height="36" width="36" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:2px; margin-left:2px">Deliveries</div>
  </div>
  <div class="hint_text" style="width:100%; padding-top:4px;">
    Record and view deliveries of inventory from suppliers.
  </div>

  <div ng-show="show_add_ui===true" class="add_ui_box_blue" style="margin-top:24px; margin-bottom:24px">
    <div class="add_title_bar_blue">
      <button ng-click="hideAddDelivery()" type="button" class="btn btn-default btn_x" style="float:left">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <div class="add_title_blue">
        <span style="font-size:1.0em;"> Add New Delivery Record </span>
      </div>
      <br/>
    </div>

    <new-delivery all-distributors="distributors" control="addDeliveryControl" close-on-save="newDeliveryCloseOnSave(new_delivery)"></new-delivery>

  </div>

  <div class="row" style="margin:0; margin-top:24px">
    <div class="col-xs-12" style="padding-left:0">
      <button ng-show="show_add_ui===false" ng-click="showAddDelivery()" type="button" class="btn btn-primary btn-md" style="font-size:1.1em; padding: 8px 16px">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Record New Delivery
      </button>
    </div>
  </div>

  <div class="row hint_text" style="margin-top:36px; margin-bottom:0; font-size:1.2em">
    <div class="col-xs-12">
      Past Deliveries
    </div>
  </div>
  <hr style="margin:4px 0px; border-color:#dddddd"/>
  
  <div class="row" style="margin:16px 0px; margin-bottom:0px">
    <div class="col-xs-9" style="text-align:left; padding:0">

      <date-range start-date="start_date" end-date="end_date" on-start-change="startDateChanged()" on-end-change="endDateChanged()"></date_range>

    </div>
    <div class="col-xs-3" style="text-aligh:right; padding:0">
      <button type="button" class="btn btn-default btn-sm btn-default" style="font-size:0.9em; float:right; margin-top:0px; border-color:#22aacc; color:#2299cc" ng-click="exportSpreadsheet()" ng-disabled="display_items===null || display_items.length===0">
        <span class="glyphicon glyphicon-download-alt" style="margin-right:4px"></span> Download Excel
      </button>
    </div>
  </div>

  <table id="deliveriesTable" summary="Data table for deliveries history." rules="groups" frame="hsides" border="2" style="width:100%; margin-top:16px; margin-bottom:120px">
    <tr>
      <td></td> <!--For edit button-->
      <td></td> <!--For date-->
      <td>Distributor</td>
      <td>Product</td>
      <td>Quantity</td>
      <td>Value ($)</td>
    </tr>
    <tbody ng-if="sort_type===sort_types[0] || sort_type===sort_types[3]" ng-repeat="dlv in deliveries">
      <tr style="font-weight:bold; font-style:italic">
        <td>
          <button ng-click="editDelivery($index)" type="button" class="btn btn-md btn_frameless hover_green" style="font-size:14px; max-height:24px; margin-top:1px; padding:2px">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </td>
        <td>{{dlv.pretty_date}}</td>
        <td><span ng-if="dlv.distributor!==null" style="font-weight:normal">{{dlv.distributor}}</span></td>
        <td></td>
        <td></td>
        <td>{{dlv.inv_sum | number:2}}</td>
      </tr>
      <tr ng-repeat="ditem in dlv.delivery_items" ng-class-even="'inv_row_even'" ng-class-odd="'inv_row_odd'">
        <td></td>
        <td></td>
        <td></td>
        <td>{{ditem.product}}</td>
        <td>{{ditem.quantity | number:2}}</td>
        <td>{{ditem.value | number:2}}</td>
      </tr>
      <tr><td colspan="6"></td></tr>
    </tbody>
  </table>

  <div class="row" ng-if="deliveries.length===0" style="margin-bottom:120px">
    <div class="col-xs-12 hint_text" style="font-size:1.5em; text-align:center">
      No data for selected time period.
    </div> 
  </div>

</div>

