<div ng-include src="'./menu_subnav.html'"></div>
<div class="container" style="min-width:880px; max-width:960px">

  <span us-spinner spinner-theme="default" spinner-on="showSpinner"></span>

  <div style="width:100%; margin-top:24px; padding-bottom:4px; font-size:1.3em; border-bottom:solid 1px #dddddd">
    <img src="images/inv_margins.png" height="32" width="32" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:8px; margin-left:2px">Margins</div>
  </div>
  <div class="hint_text" style="width:100%; padding-top:2px; font-size:1.0em">
    View calculated margins for items based on sales, inventory, and purchasing data
  </div>

  <div class="row" style="margin-top:24px">
    <div class="col-xs-9">
      <span>
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-md dropdown-toggle loc_dropdown" uib-dropdown-toggle style="font-size:1.1em; width:360px;">
            <span style="float:left; text-align:left; width:90%">
              {{margin_type}} 
            </span>
            <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:14px; color:#888888"></span>
          </button>
          <ul class="loc_dropdown dropdown-menu" role="menu">
            <li class="loc_li" ng-repeat="type in margin_types">
               <a ng-click="selectMarginType(type)" class="noselect">{{type}}</a>
            </li>
          </ul>
        </div>
      </span>
    </div>
    <div class="col-xs-3 help_link" style="text-align:right; margin-top:18px">
      How are margins calculated?
    </div>
  </div>

  <table style="width: 100%; border-bottom:1px solid #dddddd; border-top: 1px solid #dddddd; margin-bottom:128px; margin-top:12px;">
    <tr style="font-size:1.0em; background-color: #e7f7fa; border-bottom:1px solid #dddddd">
      <td class="all_inv_label_span noselect" style="width:140px; border-left: 1px solid #dddddd">
        <div class="sort_div" ng-click="sortBy('product')">
          <span>Product</span>
          <span ng-show="sort_key === 'name'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:80px; border-left: 1px solid #dddddd">
        <div class="sort_div" ng-click="sortBy('inv_sum1')">
          <span>Start Inv.</span>
          <span ng-show="sort_key === 'inv_sum1'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:80px;">
        <div class="sort_div" ng-click="sortBy('inv_sum2')">
          <span>End Inv.</span>
          <span ng-show="sort_key === 'inv_sum2'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;">
        <div class="sort_div" ng-click="sortBy('sales')">
          <span>Sales</span>
          <span ng-show="sort_key === 'sales'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;">
        <div class="sort_div" ng-click="sortBy('deliveries')">
          <span>Deliveries</span>
          <span ng-show="sort_key === 'deliveries'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;">
        <div class="sort_div" ng-click="sortBy('waste')">
          <span>Waste</span>
          <span ng-show="sort_key === 'waste'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:60px;">
        <div class="sort_div" ng-click="sortBy('theoretical_margin')">
          <span>Theoretical</span>
          <span ng-show="sort_key === 'theoretical_margin'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:60px;">
        <div class="sort_div" ng-click="sortBy('actual_margin')">
          <span>Actual</span>
          <span ng-show="sort_key === 'actual_margin'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
    </tr>

    <tr ng-if="pos_data===null || pos_data.length===0" class="inv_row">
      <td class="all_inv_span hint_text" colspan="100" style="font-size:1.5em; text-align:center; padding: 24px 0px; background-color:white">
        No Margins Data found.
      </td>
    </tr>

    <tr ng-repeat="item in margins_data | filter:filter_query.query" ng-class-even="'inv_row inv_row_even'" ng-class-odd="'inv_row inv_row_odd'" style="font-size:0.9em; border-bottom:1px solid #e5e5e5;">
      <td class="all_inv_span" height="100px">
        {{item.product}}
      </td>
      <td class="all_inv_span">
        $ {{item.inv_sum1 | number:2}}
      </td>
      <td class="all_inv_span">
        $ {{item.inv_sum2 | number:2}}
      </td>
      <td class="all_inv_span">
        $ {{item.total_sales | number:2}}
      </td>
      <td class="all_inv_span">
        <span ng-if="item.deliveries_sum===null" style="color:#aaaaaa">
          None in period
        </span>
        <span ng-if="item.deliveries_sum!==null">
          $ {{item.deliveries_sum | number:2}}
        </span>
      </td>
      <td class="all_inv_span">
        $ {{item.waste | number:2}}
      </td>
      <td class="all_inv_span">
        theoretical
      </td>
      <td class="all_inv_span">
        theoretical
      </td>
    </tr>

  </table>

  <!--div class="row" style="margin-top:20px">
    <div class="col-xs-8" style="text-align:left;">

      <date-range start-date="start_date" end-date="end_date" on-start-change="startDateChanged()" on-end-change="endDateChanged()" show-helpers="true"></date_range>

    </div>
  </div-->
</div>