<!-- EDIT INVENTORY ITEM MODAL -->
<script type="text/ng-template" id="editInvModal.html">
  <div class="modal-header" style="padding-top:8px; padding-bottom:4px;">
    <button ng-click="cancel()" type="button" class="btn btn-default btn_modal_x" style="float:left">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <span ng-if="edit_mode !== 'purchase'" style="font-size:1.2em;margin-left:8px">Edit Beverage Details</span>
    <span ng-if="edit_mode === 'purchase'" style="font-size:1.2em;margin-left:8px">Edit Purchase Info</span>
  </div>
  <div class="modal-body" style="padding-bottom:0px; background-color:#fafef8">
    <new-beverage all-distributors="all_distributors" all-breweries="all_breweries" edit-beverage="edit_beverage" edit-mode="edit_mode" control="editBevControl" volume-units="volume_units" close-on-save="closeOnSave(new_beverage)" close-on-cancel="cancel()" close-on-delete="closeOnDelete()" hide-delete="hide_delete" required-vars="required_vars"></new-beverage>
  </div>
</script>