<uib-tabset ng-if="is_edit===false" style="margin: 12px 6px; margin-bottom:0px; font-size:1.1em">
  <uib-tab ng-repeat="type in beverage_types" heading="{{type}}" ng-click="selectAddType(type)">
  </uib-tab>
</uib-tabset>
<div ng-class="{'new_inv_border_box': is_edit===false, 'new_inv_box': is_edit===true}">

  <div ng-if="is_edit===true">
    <div style="color:#666666; padding-bottom:4px">
      <span style="font-size:1.3em; font-weight:bold; vertical-align: bottom">{{new_beverage.product}}</span>
      <!--span style="font-size:1.3em; color:#aaaaaa; margin-left:12px"> {{new_beverage.alcohol_type}}</span-->
      <span class="form-group" style="margin-bottom:0px;">
        <select ng-model="new_beverage.alcohol_type" class="form-control input_small" ng-options="atype for atype in editable_alc_types" style="width:160px; display: inline-block; margin-left: 12px; vertical-align: top;"></select>
      </span>
    </div>
    <hr class="add_hr"/>
  </div>

  <div class="row" ng-if="is_edit===true && editMode==='purchase'">
    <div class="col-xs-12" style="margin: 12px 12px; font-size:1.1em; margin-bottom:0px">
      If the purchase information of this beverage has changed, update it below.<br/>
      Any changes will apply to this and future deliveries / inventory moving forward.
    </div>
  </div>

  <div class="row" style="margin-top:8px; padding-left:0px; margin-bottom:10px" ng-if="editMode==='all'">
    <div class="col-xs-3">
      <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_container===true}">
        <label class="control-label bold label_small">Container </label>
        <select ng-model="new_beverage.container_type" class="form-control input_small" ng-options="atype for atype in container_types" style="width:100%;" ng-change="addContainerChanged()"></select>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_serve_type===true}">
        <label class="control-label bold label_small"> 
          Serve Type
          <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd;"  uib-popover="Is this single serve (i.e., can of soda) or can there be multiple retail servings per container (bottle of wine, keg of beer)?" popover-trigger="mouseenter"></span>
        </label>
        <select ng-model="new_beverage.serve_type" class="form-control input_small" ng-options="atype for atype in serve_types" style="width:100%;" ng-show="new_beverage.container_type!=='Keg'"></select>
        <select ng-model="new_beverage.serve_type" class="form-control input_small" ng-options="atype for atype in serve_types" style="width:100%;" ng-show="new_beverage.container_type==='Keg'" disabled></select>

      </div>
    </div>
  </div>

  <div ng-show="new_beverage.container_type!==container_types[0] && new_beverage.serve_type!==serve_types[0]" style="float:left">
    <div ng-if="showBasic===true">
      <div style="font-size:1.0em; color:#479558; margin-top:4px; background-color:#d8f0ca; padding:3px 4px 0px">
        Basic Info
      </div>
      <hr class="add_hr"/>
      <div class="row" style="margin-top:4px; padding-left:0px" ng-if="showBasic===true">
        <div class="col-xs-3">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_product===true}">
            <label class="control-label bold label_small"> Product Name</label>
            <input ng-model="new_beverage.product" class="form-control input_small" placeholder="e.g., Trumer Pils">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_distributor===true}">
            <label class="control-label optional label_small"> Distributor / Supplier</label>
            <div class="btn-group" style="width:100% !important" uib-dropdown>
              <button type="button" ng-class="{'my_error':form_ver.error_sale_status_missing_distributor===true}" class="btn btn-default btn-md dropdown-toggle input_small" style="width:100%" uib-dropdown-toggle>
                <span ng-if="new_beverage.distributor !== null" style="float:left; text-align:left; width:90%;">
                  {{new_beverage.distributor.name}} 
                </span>
                <span ng-if="new_beverage.distributor === null" class="noselect" style="float:left; text-align:left; width:90%;  color:#999999">
                  Select a Distributor
                </span>
                <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:12px; color:#888888"></span>
              </button>
              <ul class="loc_dropdown dropdown-menu" role="menu">
                <li class="inv_dropdown_li" ng-if="new_beverage.distributor!==null">
                  <a ng-click="clearDistributor()" class="noselect" style="color:#aaaaaa">None</a>
                </li>
                <li class="inv_dropdown_li" ng-repeat="dist in allDistributors">
                  <a ng-click="selectDistributor(dist)" class="noselect">{{dist.name}}</a>
                </li>
                <li class="inv_dropdown_li">
                  <a ng-click="addNewDistributor()" class="new_loc noselect">+ New Distributor</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-3"  ng-if="new_beverage.container_type==='Keg' && new_beverage.distributor!==null">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_keg===true}">
            <label class="control-label optional label_small">
              Keg Volume & Deposit
              <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd;" uib-popover="Bars that serve Draft Beer from kegs often pay deposits per keg to their distributor.  If this doesn't apply to you, leave it blank." popover-trigger="mouseenter"></span>
            </label>
            <div class="btn-group" style="width:100%" uib-dropdown>
              <button type="button" class="btn btn-default btn-md dropdown-toggle input_small" style="width:100%" uib-dropdown-toggle>
                <span ng-if="new_beverage.keg !== null" style="float:left; text-align:left; width:40%;">
                  {{new_beverage.keg.volume | number:1}} {{new_beverage.keg.unit}}
                </span>
                <span ng-if="new_beverage.keg !== null" style="float:left; text-align:left; width:50%; color:#999999">
                  <span ng-if="new_beverage.keg.deposit === null">&nbsp;</span>
                  <span ng-if="new_beverage.keg.deposit !== null">
                    $ {{new_beverage.keg.deposit | number:2}}
                  </span>
                </span>
                <span ng-if="new_beverage.keg === null" class="noselect" style="float:left; text-align:left; width:90%;  color:#999999">
                  Select a Keg
                </span>
                <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:12px; color:#888888"></span>
              </button>
              <ul class="loc_dropdown dropdown-menu" role="menu">
                <li class="inv_dropdown_li" ng-if="new_beverage.keg!==null">
                  <a ng-click="clearKeg()" class="noselect" style="color:#aaaaaa">None</a>
                </li>
                <li class="inv_dropdown_li" ng-repeat="keg in new_beverage.distributor.kegs">
                  <a ng-click="selectKeg(keg)" class="noselect">{{keg.formatted}}</a>
                </li>
                <li class="inv_dropdown_li">
                  <a ng-click="addNewKeg()" class="new_loc noselect">+ New Keg</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="padding-left:0px; margin-top:8px" ng-if="showBasic===true">
        <div class="col-xs-3">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_brewery===true}">
            <label class="control-label optional label_small"> Brewery / Manufacturer </label>
            <input ng-model="new_beverage.brewery" class="form-control input_small" placeholder="e.g., River Brewing Co." uib-typeahead="brew for brew in allBreweries | filter:$viewValue">
          </div>
        </div>
        <div class="col-xs-3" ng-show="new_beverage.alcohol_type !== 'Non Alcoholic'">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_abv===true}">
            <label class="control-label optional label_small"> 
              % AbV
              <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd;"  uib-popover="Percent Alcohol by Volume (% AbV) indicates the alcoholic content of your beverage" popover-trigger="mouseenter"></span>
            </label>
            <div class="input-group" style="width:100%">
              <input ng-model="new_beverage.abv" type="number" step="0.01" min="0" max="100" class="form-control input_small" placeholder="" style="width:100%">
              <span class="input-group-addon" style="width:30px; text-align:left;">%</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="showPurchase===true">
      <div style="font-size:1.0em; color:#479558; margin-top:20px; background-color:#d8f0ca; padding:3px 4px 0px">
        Purchase / Order Info
        <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd" uib-popover="When you order new stock from your supplier, what is the volume of an individual order item, and how much does it cost?" popover-trigger="mouseenter"></span>
      </div>
      <hr class="add_hr"/>
      <div class="row" style="padding-left:0px; margin-top:4px">
        <div class="col-xs-3">
          <div class="form-group" style="width:100%; margin-bottom:0" ng-class="{'has-error': form_ver.error_pvolume===true || form_ver.error_punit===true}">
            <label class="control-label optional label_small"> 
              Volume per {{new_beverage.container_type}}
            </label>
            <div>
              <span>
                <input ng-model="new_beverage.purchase_volume" type="number" min="0" class="form-control input_small" style="width:50%; float:left">
              </span>
              <span class="btn-group" style="width:50%; float:right" uib-dropdown>
                <button type="button" class="btn btn-default btn-md dropdown-toggle unit_dropdown input_small" style="width:90%; float:right" uib-dropdown-toggle>
                  <span ng-if="new_beverage.purchase_unit!==null" style="float:left; text-align:left; width:80%">
                    {{new_beverage.purchase_unit}} 
                  </span>
                  <span ng-if="new_beverage.purchase_unit===null" class="noselect" style="float:left; text-align:left; width:80%;  color:#999999"> &nbsp;
                  </span>
                  <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:12px; color:#888888"></span>
                </button>
                <ul class="unit_dropdown dropdown-menu" role="menu" style="min-width:90px !important">
                  <li class="inv_dropdown_li" ng-if="new_beverage.purchase_unit!==null">
                    <a ng-click="clearPurchaseUnit()" class="noselect" style="color:#aaaaaa">None</a>
                  </li>
                  <li class="inv_dropdown_li" ng-repeat="aunit in volume_units">
                    <a ng-click="selectPurchaseUnit(aunit)" class="noselect">{{aunit}}</a>
                  </li>
                </ul>
              </span>
            </div>

            <!--div>
              <select ng-model="new_beverage.purchase_unit" class="form-control input-small" ng-options="aunit for aunit in volume_units" style="width:60px; float:left"></select>
            </div-->
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_pcost===true}">
            <label class="control-label label_small"> 
              <b>Wholesale</b> <span ng-if="new_beverage.container_type==='Keg'" style="color:#888888; font-style:italic; font-size:0.9em">exclude Deposit</span>
            </label>
            <div class="input-group input_small">
              <span class="input-group-addon">$</span>
              <input ng-model="new_beverage.purchase_cost" type="number" min="0" class="form-control input_small" style="width:100%;">
            </div>
          </div>
        </div>
        <div class="col-xs-3" ng-show="new_beverage.container_type!=='Keg'">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_pcount===true}">
            <label class="control-label bold label_small">
              Purchase Count
              <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd;" uib-popover="For a single purchase, you might buy, e.g., a case of 12 bottles of wine for $40.  In that case, enter 12 for Purchase Count, and $40 for Wholesale" popover-trigger="mouseenter"></span>
            </label>
            <input ng-model="new_beverage.purchase_count" type="number" min="1" class="form-control input_small" placeholder="">
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_par===true}">
            <label class="control-label optional label_small" ng-class="{'bold': requiredVars.indexOf('par')>=0}">
              Par Level
              <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd;" uib-popover="How much inventory you need to maintain in stock between purchasing periods." popover-trigger="mouseenter"></span>
            </label>
            <input ng-model="new_beverage.par" ng-class="{'my_error': form_ver.error_par===true}" class="form-control input_small" placeholder="">
          </div>
        </div>
      </div>
    </div>

    <div ng-if="showSales===true">
      <div style="font-size:1.0em; color:#479558; margin-top:20px; background-color:#d8f0ca; padding:3px 4px 0px">
        Sales & Pricing
        <span class="glyphicon glyphicon-question-sign" style="font-size:16px; color:#88ccdd" uib-popover="When selling to customers, what are your retail sizes and prices?  If you have multiple sale points, use the 'Add More Pricing' button." popover-trigger="mouseenter"></span>
      </div>
      <hr class="add_hr"/>
      <div class="row" style="padding-left:0px; margin-top:4px">
        <div class="col-xs-3">
          <div class="form-group" style="width:100%; margin-bottom:0" ng-class="{'has-error': form_ver.error_sale_status===true}">
            <label class="control-label optional label_small" ng-class="{'bold': requiredVars.indexOf('sale_status')>=0}"> 
              Sale / Menu Status
            </label>
            <div class="btn-group" style="width:100% !important" uib-dropdown>
              <button type="button" class="btn btn-default btn-md dropdown-toggle input_small" style="width:100%" uib-dropdown-toggle ng-class="{'my_error': form_ver.error_sale_status===true}">
                <span ng-if="new_beverage.sale_status !== null" style="float:left; text-align:left; width:90%;">
                  {{new_beverage.sale_status}} 
                </span>
                <span ng-if="new_beverage.sale_status === null" class="noselect" style="float:left; text-align:left; width:90%; color:#999999">
                  Select Sale Status
                </span>
                <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:12px; color:#888888"></span>
              </button>
              <ul class="loc_dropdown dropdown-menu" role="menu">
                <li class="inv_dropdown_li" ng-if="new_beverage.sale_status!==null">
                  <a ng-click="clearSaleStatus()" class="noselect" style="color:#aaaaaa">None</a>
                </li>
                <li class="inv_dropdown_li" ng-repeat="status in sale_statuses">
                  <a ng-click="selectSaleStatus(status)" class="noselect">{{status}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-3" ng-show="new_beverage.sale_status==='Seasonal'">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_sale_start===true}">
            <label class="control-label label_small"> 
              Sale Period Start
            </label>
            <div class="input-group">
              <input type="text" ng-class="{'my_error': form_ver.error_sale_start===true}" class="form-control input_small" uib-datepicker-popup="{{date_format}}" ng-model="new_beverage.sale_start" is-open="date_opened.start" datepicker-options="date_options" ng-required="true" close-text="Close" ng-change="saleStartChanged()">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default input_small" ng-click="openSaleStart($event)"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-3" ng-show="new_beverage.sale_status==='Seasonal'">
          <div class="form-group" style="margin-bottom:0px" ng-class="{'has-error': form_ver.error_sale_end===true}">
            <label class="control-label label_small">
              Sale Period End
            </label>
            <div class="input-group">
              <input type="text" ng-class="{'my_error': form_ver.error_sale_end===true}" class="form-control input_small" uib-datepicker-popup="{{date_format}}" ng-model="new_beverage.sale_end" is-open="date_opened.end" datepicker-options="date_options" ng-required="true" close-text="Close" ng-change="saleEndChanged()">
              <span class="input-group-btn">
                <button type="button" class="btn btn-default input_small" ng-click="openSaleEnd($event)"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row red_color" ng-if="form_ver.error_sale_status_missing_distributor===true" style="margin-top:4px;">
        <div class="col-xs-12">
          <li>May not set an active sale status without providing a Distributor!</li>
        </div>
      </div>
      <div class="row" style="padding-left:0px; margin-bottom:4px; margin-top:10px; font-size:13px">
        <div class="col-xs-3 optional">
          Serving Size
        </div>
        <div class="col-xs-3 optional">
          Retail Price
        </div>
      </div>
      <div ng-show="new_beverage.container_type !== 'Keg'" class="row green_row" style="margin:8px 0px; padding:8px 0px">
        <div class="col-xs-3 min_padding" style="font-size:1.1em; padding-top:4px; padding-left:6px">
          1 {{new_beverage.container_type}}
        </div>
        <div class="col-xs-3" style="font-size:13px;">
          <div class="input-group"  ng-class="{'has-error': form_ver.error_unit_sale===true}">
            <span class="input-group-addon">$</span>
            <input ng-model="new_unit_sale.value" type="number" min="0" class="form-control input_small" style="width:100%;">
          </div>
        </div>
      </div>
      <div ng-show="new_beverage.serve_type===serve_types[2]" ng-repeat="size_price in new_beverage.size_prices" class="row green_row" style="margin:6px 0px; padding:8px 0px;">
        <div class="col-xs-3 min_padding">
          <div class="form-group" ng-class="{'has-error': form_ver.errors_sale_volume[$index]===true}" style="width:100%; margin-bottom:0">
            <input ng-model="size_price.volume" type="number" min="0" class="form-control input_small" style="width:60%; float:left" placeholder="pour size">
            <span class="btn-group" style="width:40%;" uib-dropdown>
              <button type="button" style="width:90%; float:right" class="btn btn-default btn-md dropdown-toggle unit_dropdown input_small" uib-dropdown-toggle>
                <span ng-if="size_price.unit!==null" style="float:left; text-align:left; width:80%">
                  {{size_price.unit}} 
                </span>
                <span ng-if="size_price.unit===null" class="noselect" style="float:left; text-align:left; width:80%; color:#999999"> &nbsp;
                </span>
                <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:12px; color:#888888"></span>
              </button>
              <ul class="unit_dropdown dropdown-menu" role="menu" style="min-width:90px !important">
                <li class="inv_dropdown_li" ng-if="size_price.unit!==null">
                  <a ng-click="clearSizePriceUnit(size_price)" class="noselect" style="color:#aaaaaa">None</a>
                </li>
                <li class="inv_dropdown_li" ng-repeat="aunit in volume_units">
                  <a ng-click="selectSizePriceUnit(size_price, aunit)" class="noselect">{{aunit}}</a>
                </li>
              </ul>
            </span>
            <!--div>
              <select ng-model="size_price.unit" class="form-control input-small" ng-options="aunit for aunit in volume_units" style="width:60px; float:left"></select>
            </div-->
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group" ng-class="{'has-error': form_ver.errors_sale_price[$index]===true}" style="margin-bottom:0px">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input ng-model="size_price.price" type="number" min="0" step="0.1" class="form-control input_small" style="width:100%;">
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <button ng-show="new_beverage.size_prices.length > 1" ng-click="removeSaleRow($index)" type="button" class="btn btn-default btn-sm add_transparent_btn">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
          <button ng-show="$index===new_beverage.size_prices.length-1" ng-click="addSaleRow(new_beverage.size_prices[$index].unit)" type="button" class="btn btn-default btn-sm add_transparent_btn" style="margin-left:6px">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add More Pricing
          </button>
        </div>
      </div>
    </div>
    <div style="margin-bottom:12px"></div>

    <div ng-show="new_success_msg !== null" class="row" style="margin:4px 0px">
      <div class="alert alert-success alert-dismissible" role="alert" style="margin-bottom:6px">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        {{new_success_msg}}</div>
    </div>
    <div ng-show="new_failure_msg !== null" class="row" style="margin:4px 0px">
      <div class="alert alert-danger" data-html="true" role="alert" style="margin-bottom:6px">
        {{new_failure_msg}}
      </div>
    </div>
  </div>
  <div style="padding: 4px 4px; padding-bottom:12px;" ng-show="new_beverage.container_type!==container_types[0] && new_beverage.serve_type!==serve_types[0]">
    <hr style="margin-bottom:8px; margin-top:4px"/>
    <button ng-click="saveBeverage()" type="button" class="btn btn-success btn_ok">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{save_title}}
    </button>
    <button ng-if="is_edit===true" ng-click="closeOnCancel()" type="button" class="btn btn-default btn_ok" style="margin-left:8px">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </button>
    <button ng-click="deleteBeverage()" ng-if="hideDelete!==true && is_edit===true" type="button" class="btn btn-success btn-danger btn_ok" style="float:right">
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
    </button>
  </div>
</div>

<div ng-include src="'./view_all/modal_new_dist.html'">
<div ng-include src="'./view_all/modal_new_keg.html'">