<div class="container" style="width:1800">

  <div style="margin-top:24px; padding-bottom:6px; font-size:1.6em; border-bottom:solid 1px #dddddd;">
    All Beverages Database
  </div>

  <div class="hint_text" style="margin-top:6px;">
    Details & Pricing of all beverages your restaurant carries.
  </div>

  <div ng-show="show_add_ui===true" class="add_inv_all" style="margin-top:16px">
    <button ng-click="hideAddInv()" type="button" class="btn btn-default btn-sm inner_btn_left" style="font-size:14px; min-height:32px;">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </button>
    <div style="margin-left:10px; display:inline-block">
      <span style="font-size:1.3em; "> Add New Beverage </span>
    </div>

    <tabset style="margin-top:20px; font-size:1.1em">
      <tab ng-repeat="type in beverage_types" heading="{{type}}" ng-click="selectAddType(type)">
      </tab>
    </tabset>
    <div style="padding:0px 12px; margin-top:0px; background-color:#fffffe; border-right: 1px solid #dddddd; border-left: 1px solid #dddddd; border-bottom: 1px solid #dddddd">
      <div style="padding-top:12px">
        <span style="font-size:1.2em; color:#77b088;"><b>New {{new_beverage.alcohol_type}}</b></span>
        <span class="hint_text" style="margin-right:24px; float:right"> <b>bold</b> fields are required </span>
      </div>
      <hr class="add_hr"/>

      <div class="row" style="margin-top:8px; padding-left:10px">
        <div class="col-xs-4">
          <div class="form-group" ng-class="{'has-error': form_ver.error_container===true}">
            <label class="control-label bold">Container </label>
            <select ng-model="new_beverage.container_type" class="form-control input_add" ng-options="atype for atype in container_types" style="width:150px;" ng-change="addContainerChanged()"></select>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="form-group" ng-class="{'has-error': form_ver.error_serve_type===true}">
            <label class="control-label bold"> 
              Serve Type
              <span class="glyphicon glyphicon-question-sign" style="font-size:18px; color:#88ccdd;"  popover="Is this single serve (i.e., can of soda) or can there be multiple retail servings per container (bottle of wine, keg of beer)?" popover-trigger="mouseenter" popover-append-to-body="true"></span>
            </label>
            <select ng-model="new_beverage.serve_type" class="form-control input_add" ng-options="atype for atype in serve_types" style="width:150px;" ng-show="new_beverage.container_type!=='Keg'"></select>
            <select ng-model="new_beverage.serve_type" class="form-control input_add" ng-options="atype for atype in serve_types" style="width:150px;" ng-show="new_beverage.container_type==='Keg'" disabled></select>

          </div>
        </div>
      </div>

      <div ng-show="new_beverage.container_type!==container_types[0] && new_beverage.serve_type!==serve_types[0]">
        <div style="font-size:1.1em; color:#77b088; padding-top:0px">
          Basic Info
        </div>
        <hr class="add_hr"/>
        <div class="row" style="margin-top:8px; padding-left:10px">
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.error_product===true}">
              <label class="control-label bold"> Product Name</label>
              <input ng-model="new_beverage.product" class="form-control input_add" placeholder="e.g., Trumer Pils">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.error_distributor===true}">
              <label class="control-label optional"> Distributor / Supplier</label>
              <input ng-model="new_beverage.distributor" class="form-control input_add" placeholder="e.g., California Beer & Beverage" typeahead="distr for distr in all_distributors | filter:$viewValue">
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.error_brewery===true}">
              <label class="control-label optional"> Brewery / Manufacturer </label>
              <input ng-model="new_beverage.brewery" class="form-control input_add" placeholder="e.g., Lagunitas Brewing Co." typeahead="brew for brew in all_breweries | filter:$viewValue">
            </div>
          </div>
        </div>
        <div class="row" style="padding-left:10px">
          <div class="col-xs-4" ng-show="new_beverage.alcohol_type !== 'Non Alcoholic'">
            <div class="form-group" ng-class="{'has-error': form_ver.error_abv===true}">
              <label class="control-label optional"> 
                % AbV
                <span class="glyphicon glyphicon-question-sign" style="font-size:18px; color:#88ccdd;"  popover="Percent Alcohol by Volume (% AbV) indicates the alcoholic content of your beverage" popover-trigger="mouseenter" popover-append-to-body="false"></span>
              </label>
              <div class="input-group">
                <input ng-model="new_beverage.abv" type="number" min="0" max="100" class="form-control input_add" placeholder="" style="width:100px">
                <span class="input-group-addon" style="width:30px; text-align:left;">%</span>
              </div>
            </div>
          </div>
        </div>

        <div style="font-size:1.1em; color:#77b088; margin-top:8px">
          Purchase / Order Info
          <span class="glyphicon glyphicon-question-sign" style="font-size:18px; color:#88ccdd" popover="When you order new stock from your supplier, what is the volume of an individual order item, and how much does it cost?" popover-trigger="mouseenter" popover-append-to-body="true"></span>
        </div>
        <hr class="add_hr"/>
        <div class="row" style="padding-left:10px; margin-top:8px">
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.error_pvolume===true || form_ver.error_punit===true}">
              <label class="control-label optional"> 
                Volume per {{new_beverage.container_type}}
              </label>
              <div>
                <input ng-model="new_beverage.purchase_volume" type="number" min="0" class="form-control input_add" style="width:100px; margin-right:6px; float:left">
              </div>
              <div>
                <select ng-model="new_beverage.purchase_unit" class="form-control input_add" ng-options="aunit for aunit in volume_units" style="width:60px; float:left"></select>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.error_pcost===true}">
              <label class="control-label bold"> 
                Purchase Cost
              </label>
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input ng-model="new_beverage.purchase_cost" type="number" min="0" class="form-control input_add" style="width:100px;">
              </div>
            </div>
          </div>
          <div class="col-xs-4" ng-show="(new_beverage.alcohol_type==='Beer' || new_beverage.alcohol_type==='Cider') && new_beverage.container_type ==='Keg'">
            <div class="form-group" ng-class="{'has-error': form_ver.error_keg_deposit===true}">
              <label class="control-label optional">
                Keg Deposit
                <span class="glyphicon glyphicon-question-sign" style="font-size:18px; color:#88ccdd;" popover="Bars that serve Draft Beer from kegs often pay deposits per keg to their distributor.  If this doesn't apply to you, leave it blank." popover-trigger="mouseenter" popover-append-to-body="true"></span>
              </label>
              <div class="input-group" style="float:left; width:170px">
                <span class="input-group-addon">$</span>
                <input ng-model="new_beverage.deposit" type="number" min="0" class="form-control input_add" style="width:132px;" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-xs-4" ng-show="new_beverage.container_type!=='Keg'">
            <div class="form-group" ng-class="{'has-error': form_ver.error_pcount===true}">
              <label class="control-label bold">
                Purchase Count
                <span class="glyphicon glyphicon-question-sign" style="font-size:18px; color:#88ccdd;" popover="For a single purchase, you might buy, e.g., a case of 12 bottles of wine for $40.  In that case, enter 12 for Purchase Count, and $40 for Purchase Cost" popover-trigger="mouseenter" popover-append-to-body="true"></span>
              </label>
              <div class="input-group" style="float:left; width:170px">
                <input ng-model="new_beverage.purchase_count" type="number" min="0" class="form-control input_add" style="width:132px;" placeholder="">
              </div>
            </div>
          </div>
        </div>

        <div style="font-size:1.1em; color:#77b088; margin-top:8px">
          Sales & Pricing
          <span class="glyphicon glyphicon-question-sign" style="font-size:18px; color:#88ccdd" popover="When selling to customers, what are your retail sizes and prices?  If you have multiple sale points, use the 'Add More Pricing' button." popover-trigger="mouseenter" popover-append-to-body="true"></span>
        </div>
        <hr class="add_hr"/>
        <div class="row" style="padding-left:10px; margin-bottom:4px; margin-top:8px">
          <div class="col-xs-4 optional">
            Serving Size
          </div>
          <div class="col-xs-4 optional">
            Retail Price
          </div>
        </div>
        <div ng-show="new_beverage.container_type !== 'Keg'" class="row" style="margin:8px 4px; background-color:#e5f5ea; padding:8px 0px">
          <div class="col-xs-4" style="font-size:1.2em; padding-top:4px;">
            1 {{new_beverage.container_type}}
          </div>
          <div class="col-xs-3" style="font-size:1.2em;">
            <div class="input-group"  ng-class="{'has-error': form_ver.error_unit_sale===true}">
              <span class="input-group-addon">$</span>
              <input ng-model="new_unit_sale" type="number" min="0" class="form-control input_add" style="width:100px;">
            </div>
          </div>
        </div>
        <div ng-show="new_beverage.serve_type===serve_types[2]" ng-repeat="size_price in new_beverage.size_prices" class="row" style="margin:8px 4px; background-color:#e5f5ea; padding:8px 0px;">
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.errors_sale_volume[$index]===true}">
              <input ng-model="size_price.volume" type="number" min="0" class="form-control input_add" style="width:100px; margin-right:6px; float:left" placeholder="pour size">
              <div>
                <select ng-model="size_price.unit" class="form-control input_add" ng-options="aunit for aunit in volume_units" style="width:60px; float:left"></select>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="form-group" ng-class="{'has-error': form_ver.errors_sale_price[$index]===true}" style="margin-bottom:0px">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input ng-model="size_price.price" type="number" min="0" class="form-control input_add" style="width:100px;">
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <button ng-show="new_beverage.size_prices.length > 1" ng-click="removeSaleRow($index)" type="button" class="btn btn-default btn-sm add_transparent_btn" style="font-size:14px; height:32px">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </button>
            <button ng-show="$index===new_beverage.size_prices.length-1" ng-click="addSaleRow(new_beverage.size_prices[$index].unit)" type="button" class="btn btn-default btn-sm add_transparent_btn" style="font-size:14px; margin-left:6px">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add More Pricing
            </button>
          </div>
        </div>
        <div style="margin-bottom:16px"></div>

        <div ng-show="new_success_msg !== null" class="add_row" style="margin-top:12px; padding-left:4px; margin-bottom:0px !important">
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            {{new_success_msg}}</div>
        </div>
        <div ng-show="new_failure_msg !== null" class="add_row" style="margin-top:12px; padding-left:4px; margin-bottom:0px !important">
          <div class="alert alert-danger" data-html="true" role="alert">
            {{new_failure_msg}}</div>
        </div>
        <div class="add_row" style="padding-left:12px; margin-top:0px; margin-bottom:16px">
          <button ng-click="addNewItem()" type="button" class="btn btn-success btn-xl" style="font-size:16px; padding:12px">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Save & Add Beverage
          </button>
        </div>

      </div>
    </div>
  </div>

  <div style="margin-top:24px; margin-bottom:8px; overflow:hidden">
    <div style="display:inline-block; float:left; min-width:140px;">
      <button ng-show="show_add_ui===false" ng-click="showAddInv()" type="button" class="btn btn-success btn-sm" style="font-size:14px;">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Beverage
      </button>
    </div>
    <div style="display:inline-block; width:200px; float:left">
      <input ng-model="all_inv_query" class="form-control input-md" placeholder="Search Inventory...">
    </div>
    <div style="display:inline-block; margin-left:10px;float:left"  popover="Show / hide columns" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
      <button ng-click="showColumnsCtrl()" type="button" class="btn btn-default btn-md" style="height:34px">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="color:#888888"></span>
      </button>
    </div>
  </div>

  <div ng-show="show_col_ctrl===true" style="margin-top:10px;margin-bottom:8px; max-width:880px">
    <div style="border:solid 1px #e8e8e8; background-color:#fafafa; border-radius:4px; margin-right:12px; padding: 8px 12px">
      <div style="display:inline-block; font-weight:bold;">
        Show / Hide Columns
      </div>
      <div style="display:inline-block; margin-left:24px">
        <div style="display:inline-block;" class="btn-group">
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.supplier" btn-checkbox ng-mouseover="highlightCols('supplier')" ng-mouseleave="unhighlightCols()">Supplier</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.purchase" btn-checkbox ng-mouseover="highlightCols('purchase')" ng-mouseleave="unhighlightCols()">Purchase</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.retail" btn-checkbox ng-mouseover="highlightCols('retail')" ng-mouseleave="unhighlightCols()">Retail</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.inventory" btn-checkbox ng-mouseover="highlightCols('inventory')" ng-mouseleave="unhighlightCols()">Inventory</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.misc" btn-checkbox ng-mouseover="highlightCols('misc')" ng-mouseleave="unhighlightCols()">Misc.</label>
        </div>
        <div style="display:inline-block; margin-left:6px">
          <button ng-click="showAllColumns()" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show All
          </button>
        </div>
      </div>
      <div style="float:right">
        <button ng-click="showColumnsCtrl()" type="button" class="btn btn-default btn-sm" style="height:28px; color:#999999">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <table style="table-layout:fixed; border-bottom:1px solid #dddddd; border-top: 1px solid #dddddd">
    <tr style="font-size:14px; font-weight:bold;background-color: #e0f0ff;">
      <td class="all_inv_label_span noselect" style="width:60px; border-left: 1px solid #dddddd">
      </td>
      <td class="all_inv_label_span noselect" style="width:160px; overflow:auto">
        <div class="sort_div" ng-click="sortBy('product')">
          <span>Product</span>
          <span ng-show="sort_key === 'product'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:90px;">
        <div class="sort_div" ng-click="sortBy('alcohol_type')" popover="Alcohol Type" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Alc. Type</span>
          <span ng-show="sort_key === 'alcohol_type'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:100px;">
        <div class="sort_div" ng-click="sortBy('container_type')" popover="Container Type" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Container</span>
          <span ng-show="sort_key === 'container_type'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:80px;">
        <div class="sort_div" ng-click="sortBy('serve_type')" popover="Serve Type" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Serve</span>
          <span ng-show="sort_key === 'serve_type'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:160px;" ng-show="col_comps.supplier === true" ng-class="{'col_highlight': highlight_cols==='supplier'}">
        <div class="sort_div" ng-click="sortBy('distributor')">
          <span>Distributor</span>
          <span ng-show="sort_key === 'distributor'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:160px;" ng-show="col_comps.supplier === true" ng-class="{'col_highlight': highlight_cols==='supplier'}">
        <div class="sort_div" ng-click="sortBy('brewery')">
          <span>Brewery</span>
          <span ng-show="sort_key === 'brewery'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:60px;" ng-show="col_comps.misc === true" ng-class="{'col_highlight': highlight_cols==='misc'}">
        <div class="sort_div" ng-click="sortBy('abv')" popover="% Alcohol by Volume" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>AbV</span>
          <span ng-show="sort_key === 'abv'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_volume')" popover="Purchase Volume" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Vol</span>
          <span ng-show="sort_key === 'purchase_volume'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_unit')" popover="Purchase Unit" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Unit</span>
          <span ng-show="sort_key === 'purchase_unit'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:80px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_cost')" popover="Purchase Cost" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Cost</span>
          <span ng-show="sort_key === 'purchase_cost'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:90px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_count')" popover="Purchase Count -- how many units are acquired per Purchase Cost" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Count</span>
          <span ng-show="sort_key === 'purchase_count'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:120px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('price_per_volume')" popover="Cost per Volume, can toggle between mL and oZ" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>{{selected_cost_unit}}</span>
          <span style="z-index:99;">
            <div class="btn-group" dropdown>
              <button dropdown-toggle type="button" class="btn btn-md" style="margin-top:-4px; padding:3px; background-color:#f0faff; border-color:#aaddbb;" onclick="event.preventDefault(); event.stopPropagation();">
                <span class="glyphicon glyphicon-cog" style="color:#65a9e0"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="cu in cost_units">
                  <a ng-click="selectCostUnit(cu)" onclick="event.preventDefault(); event.stopPropagation();" ng-class="{bold: selected_cost_unit === cu}" class="noselect">{{cu}}</a>
                </li>
              </ul>
            </div>
          </span>
          <span ng-show="sort_key === 'price_per_volume'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_span" style="width:100px;" ng-show="col_comps.retail === true" ng-class="{'col_highlight': highlight_cols==='retail'}">Serving Size</td>
      <td class="all_inv_span" style="width:100px;" ng-show="col_comps.retail === true" ng-class="{'col_highlight': highlight_cols==='retail'}">Retail Price</td>
      <td class="all_inv_label_span noselect" style="width:60px;" ng-show="col_comps.inventory === true" ng-class="{'col_highlight': highlight_cols==='inventory'}">
        <div class="sort_div" ng-click="sortBy('count')" popover="Quantity in Inventory (in all locations)" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Qty</span>
          <span ng-show="sort_key === 'count'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:100px;" ng-show="col_comps.inventory === true" ng-class="{'col_highlight': highlight_cols==='inventory'}">
        <div class="sort_div" ng-click="sortBy('inventory')"  popover="Inventory = Purchase Cost * Quantity" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Inventory</span>
          <span ng-show="sort_key === 'inventory'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:90px;" ng-show="col_comps.misc === true" ng-class="{'col_highlight': highlight_cols==='misc'}">
        <div class="sort_div" ng-click="sortBy('deposit')" popover="Keg Deposit" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Keg Dep</span>
          <span ng-show="sort_key === 'deposit'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
    </tr>
    <tr ng-repeat="inv in inventory_items | filter:all_inv_query" ng-class-even="'inv_row inv_row_even'" ng-class-odd="'inv_row'" style="font-size:14px">
      <td class="all_inv_span" style="width:60px; text-align:center;">
        <button ng-click="editBeverage($index)" type="button" class="btn btn-md" style="font-size:14px; background-color:#ecfddf; border-color:#aaddbb">
          <span class="glyphicon glyphicon-pencil" style="font-size:16px; color:#888888"></span>
        </button>
      </td>
      <td class="all_inv_span" style="width:160px;">{{inv.product}}</td>
      <td class="all_inv_span" style="width:90px;">{{inv.alcohol_type}}</td>
      <td class="all_inv_span" style="width:100px;">{{inv.container_type}}</td>
      <td class="all_inv_span" style="width:80px;">
        <span ng-show="inv.serve_type===0">Single</span>
        <span ng-show="inv.serve_type===1">Multi</span>
      </td>
      <td class="all_inv_span" style="width:160px;" ng-show="col_comps.supplier === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='supplier'}">{{inv.distributor}}</td>
      <td class="all_inv_span" style="width:160px;" ng-show="col_comps.supplier === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='supplier'}">{{inv.brewery}}</td>
      <td class="all_inv_span" style="width:60px;" ng-show="col_comps.misc === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='misc'}">
        <span ng-if="inv.abv !== null">{{inv.abv}} <span class="inv_symbol">%</span></span<</td>
      <td class="all_inv_span" style="width:70px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">{{inv.purchase_volume}}</td>
      <td class="all_inv_span" style="width:70;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">{{inv.purchase_unit}}</td>
      <td class="all_inv_span" style="width:80px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}"><span class="inv_symbol">$</span> {{inv.purchase_cost | number:2}}</td>
      <td class="all_inv_span" style="width:90px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">{{inv.purchase_count}}</td>
      <td class="all_inv_span" style="width:120px;" ng-if="inv.price_per_volume >= 0 && col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}"><span class="inv_symbol">$</span> {{inv.price_per_volume | number:4}}</td>
      <td class="all_inv_span" style="width:120px;" ng-if="inv.price_per_volume < 0 && col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}"> -- </td>
      <td class="all_inv_span" style="width:100px;" ng-show="col_comps.retail === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='retail'}">
        <div ng-repeat="sp in inv.size_prices" style="padding:2px 0px">
          <span style="display:inline-block; min-width:50%">
            {{sp.volume}} 
          </span>
          <span style="color:#999999">
            {{sp.unit}}
          </span>
        </div>
      </td>
      <td class="all_inv_span" style="width:100px;" ng-show="col_comps.retail === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='retail'}">
        <div ng-repeat="sp in inv.size_prices" style="padding:2px 0px">
          <span ng-if="sp.price !== null"><span class="inv_symbol">$</span> {{sp.price | number:2}}</span>
          <span ng-if="sp.price === null"> -- </span>
        </div>
      </td>
      <td class="all_inv_span" style="width:60px;" ng-show="col_comps.inventory === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='inventory'}">{{inv.count}}</td>
      <td class="all_inv_span" style="width:100px;" ng-show="col_comps.inventory === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='inventory'}"><span class="inv_symbol">$</span> {{inv.inventory | number:2}}</td>
      <td class="all_inv_span" style="width:90px;" ng-show="col_comps.misc === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='misc'}">
        <span ng-if="inv.deposit !== null"><span class="inv_symbol">$</span> {{inv.deposit | number:2}}</span>
      </td>
    </tr>
  </table>
  <br/>
</div>

<div ng-include src="'./view_all/edit_inv_modal.html'">
 
