<div ng-include src="'./bev_subnav.html'"></div>
<div style="padding-left:20px;">

  <div style="margin-top:18px; padding-bottom:4px; font-size:1.3em; border-bottom:solid 1px #dddddd">
    <img src="images/inv_all.png" height="32" width="32" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:10px; margin-left:2px">All Beverages Database</div>
  </div>
  <div class="hint_text" style="width:100%; padding-top:2px; font-size:1.0em">
    Complete Database of all Beverages in the system.
  </div>


  <div ng-show="show_add_ui===true" class="add_ui_box_green" style="margin-top:16px">
    <div class="add_title_bar_green">
      <button ng-click="hideAddInv()" type="button" class="btn btn-default btn_x" style="float:left">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
      <div class="add_title_green">
        <span style="font-size:1.0em;"> Add New Beverage </span>
      </div>
      <div class="add_hint"> <b>bold</b> fields are required </div>
      <br/>
    </div>
    <new-beverage all-distributors="all_distributors" all-breweries="all_breweries" volume-units="volume_units" control="newBevControl" edit-mode="'all'" close-on-save="newBeverageCloseOnSave(new_beverage)"></new-beverage>
  </div>

  <!-- if no inventory, show the first time add new beverage dialogue -->
  <div ng-if="inventory_items.length===0 && show_add_ui!==true" style="margin-top:36px;" ng-cloak>
    <div style="font-size:1.2em">
      Let's get started by adding your first beverage!
    </div>
    <div>
      <button ng-show="show_add_ui===false" ng-click="showAddInv()" type="button" class="btn btn-success btn-md" style="font-size:16px; margin-top:16px">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Beverage
      </button>
    </div>
    
  </div>

  <div ng-if="inventory_items.length > 0" style="margin-top:24px; margin-bottom:8px; overflow:hidden">
    <div style="display:inline-block; float:left; min-width:140px;">
      <button ng-show="show_add_ui===false" ng-click="showAddInv()" type="button" class="btn btn-success btn-md">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Beverage
      </button>
    </div>
    <div style="display:inline-block; width:200px; float:left">
      <input ng-model="all_inv_query.query" class="form-control input-md" placeholder="Search Beverages...">
    </div>
    <div style="display:inline-block; margin-left:10px;float:left"  uib-popover="Show / hide columns" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
      <button ng-click="showColumnsCtrl()" type="button" class="btn btn-default btn-md" style="height:34px">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="color:#888888"></span>
      </button>
    </div>
  </div>

  <div ng-show="inventory_items.length>0 && show_col_ctrl===true" style="margin-top:10px;margin-bottom:8px; max-width:880px">
    <div style="border:solid 1px #e8e8e8; background-color:#fafafa; border-radius:4px; margin-right:12px; padding: 8px 12px">
      <div style="display:inline-block; font-weight:bold;">
        Show / Hide Columns
      </div>
      <div style="display:inline-block; margin-left:24px">
        <div style="display:inline-block;" class="btn-group">
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.supplier" uib-btn-checkbox ng-mouseover="highlightCols('supplier')" ng-mouseleave="unhighlightCols()">Supplier</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.purchase" uib-btn-checkbox ng-mouseover="highlightCols('purchase')" ng-mouseleave="unhighlightCols()">Purchase</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.retail" uib-btn-checkbox ng-mouseover="highlightCols('retail')" ng-mouseleave="unhighlightCols()">Retail</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.inventory" uib-btn-checkbox ng-mouseover="highlightCols('inventory')" ng-mouseleave="unhighlightCols()">Inventory</label>
          <label class="btn btn-default btn-sm col_comp" ng-model="col_comps.misc" uib-btn-checkbox ng-mouseover="highlightCols('misc')" ng-mouseleave="unhighlightCols()">Misc.</label>
        </div>
        <div style="display:inline-block; margin-left:6px">
          <button ng-click="showAllColumns()" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show All
          </button>
        </div>
      </div>
      <div style="float:right">
        <button ng-click="showColumnsCtrl()" type="button" class="btn btn-default btn-sm" style="height:28px; color:#999999">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <table ng-if="inventory_items.length>0" style="width: 100%; table-layout:fixed; border-bottom:1px solid #dddddd; border-top: 1px solid #dddddd; margin-bottom:120px;">
    <tr style="font-size:12px; ;background-color: #e7f7fa;">
      <td class="all_inv_label_span noselect" style="width:40px; border-left: 1px solid #dddddd">
      </td>
      <td class="all_inv_label_span noselect" style="width:180px; overflow:auto">
        <div class="sort_div" ng-click="sortBy('product')">
          <span>Product</span>
          <span ng-show="sort_key === 'product'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:95px;">
        <div class="sort_div" ng-click="sortBy('alcohol_type')" uib-popover="Alcohol Type" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Alc. Type</span>
          <span ng-show="sort_key === 'alcohol_type'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:80px;">
        <div class="sort_div" ng-click="sortBy('container_type')" uib-popover="Container Type" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Container</span>
          <span ng-show="sort_key === 'container_type'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:60px;">
        <div class="sort_div" ng-click="sortBy('serve_type')" uib-popover="Serve Type" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Serve</span>
          <span ng-show="sort_key === 'serve_type'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:140px;" ng-show="col_comps.supplier === true" ng-class="{'col_highlight': highlight_cols==='supplier'}">
        <div class="sort_div" ng-click="sortBy('distributor')">
          <span>Distributor</span>
          <span ng-show="sort_key === 'distributor'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:140px;" ng-show="col_comps.supplier === true" ng-class="{'col_highlight': highlight_cols==='supplier'}">
        <div class="sort_div" ng-click="sortBy('brewery')">
          <span>Brewery</span>
          <span ng-show="sort_key === 'brewery'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:50px;" ng-show="col_comps.misc === true" ng-class="{'col_highlight': highlight_cols==='misc'}">
        <div class="sort_div" ng-click="sortBy('abv')" uib-popover="% Alcohol by Volume" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>AbV</span>
          <span ng-show="sort_key === 'abv'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_volume')" uib-popover="Purchase Volume" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Vol</span>
          <span ng-show="sort_key === 'purchase_volume'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:60px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_unit')" uib-popover="Purchase Unit" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Unit</span>
          <span ng-show="sort_key === 'purchase_unit'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:80px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_cost')" uib-popover="Wholesale Cost" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Whs. Cost</span>
          <span ng-show="sort_key === 'purchase_cost'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:70px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('purchase_count')" uib-popover="Purchase Count -- how many units are acquired per Wholesale Purchase" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>P. Count</span>
          <span ng-show="sort_key === 'purchase_count'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:100px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('price_per_volume')" uib-popover="Cost per Volume, can toggle between mL and oZ" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>{{selected_cost_unit}}</span>
          <span style="z-index:99;">
            <span class="dropdown" uib-dropdown>
              <button uib-dropdown-toggle type="button" class="btn btn-xs" style="margin-top:-4px; padding:2px; padding-bottom:0px; background-color:#f0faff; border-color:#aaddbb; width:20px" onclick="event.preventDefault(); event.stopPropagation();">
                <span class="glyphicon glyphicon-cog" style="color:#65a9e0"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="cu in cost_units">
                  <a ng-click="selectCostUnit(cu)" onclick="event.preventDefault(); event.stopPropagation();" ng-class="{bold: selected_cost_unit === cu}" class="noselect">{{cu}}</a>
                </li>
              </ul>
            </span>
          </span>
          <span ng-show="sort_key === 'price_per_volume'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:60px;" ng-show="col_comps.purchase === true" ng-class="{'col_highlight': highlight_cols==='purchase'}">
        <div class="sort_div" ng-click="sortBy('par')" uib-popover="Par level of inventory to keep in stock" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Par</span>
          <span ng-show="sort_key === 'par'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:85px;" ng-show="col_comps.retail === true" ng-class="{'col_highlight': highlight_cols==='retail'}">
        <div class="sort_div" ng-click="sortBy('sale_status')" uib-popover="Current sale status of beverage" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Sale Status</span>
          <span ng-show="sort_key === 'sale_status'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_span" style="width:90px; border-bottom:none" ng-show="col_comps.retail === true" ng-class="{'col_highlight': highlight_cols==='retail'}">Serv. Size</td>
      <td class="all_inv_span" style="width:70px; border-bottom:none" ng-show="col_comps.retail === true" ng-class="{'col_highlight': highlight_cols==='retail'}">Ret. Price</td>
      <!--td class="all_inv_label_span noselect" style="width:60px;" ng-show="col_comps.inventory === true" ng-class="{'col_highlight': highlight_cols==='inventory'}">
        <div class="sort_div" ng-click="sortBy('count')" uib-popover="Quantity in Inventory (in all locations)" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Qty</span>
          <span ng-show="sort_key === 'count'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
      <td class="all_inv_label_span noselect" style="width:100px;" ng-show="col_comps.inventory === true" ng-class="{'col_highlight': highlight_cols==='inventory'}">
        <div class="sort_div" ng-click="sortBy('inventory')" uib-popover="Inventory = Purchase Cost * Quantity" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Inventory</span>
          <span ng-show="sort_key === 'inventory'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td-->
      <td class="all_inv_label_span noselect" style="width:70px;" ng-show="col_comps.misc === true" ng-class="{'col_highlight': highlight_cols==='misc'}">
        <div class="sort_div" ng-click="sortBy('deposit')" uib-popover="Keg Deposit" popover-trigger="mouseenter" popover-append-to-body="true" popover-popup-delay="500">
          <span>Dpst</span>
          <span ng-show="sort_key === 'deposit'" class="glyphicon sort_carat" ng-class="{'glyphicon-menu-down': double_sort<0, 'glyphicon-menu-up':double_sort>0}"></span>
        </div>
      </td>
    </tr>
    <tr ng-repeat="inv in inventory_items | filter:all_inv_query.query" ng-class-even="'inv_row inv_row_even'" ng-class-odd="'inv_row inv_row_odd'" style="font-size:12px">
      <td class="all_inv_span" style="width:40px; text-align:center;">
        <button ng-click="editBeverage(inv)" type="button" class="btn btn-xs btn_edit">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </td>
      <td class="all_inv_span" style="width:180px;">
        <div style="display:inline-block; float:left; width:24px">
          <img ng-if="inv.icon==='keg'" src="images/bev_keg.png" height="24px" width="24px">
          <img ng-if="inv.icon==='draft'" src="images/bev_draft.png" height="24px" width="24x">
          <img ng-if="inv.icon==='wine'" src="images/bev_wine.png" height="24px" width="24px">
          <img ng-if="inv.icon==='bottle'" src="images/bev_bottle.png" height="24px" width="24px">
          <img ng-if="inv.icon==='can'" src="images/bev_can.png" height="24px" width="24px">
          <img ng-if="inv.icon==='liquor'" src="images/bev_xo.png" height="24px" width="24px">
        </div>
        <div style="display:inline-block; float:left; margin-left:4px; width:135px; margin-top:2px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
          <span style="vertical-align:middle;">
          {{inv.product}}
          </span>
        </div>
      </div>
      </td>
      <td class="all_inv_span" style="width:95px;">{{inv.alcohol_type}}</td>
      <td class="all_inv_span" style="width:80px;">{{inv.container_type}}</td>
      <td class="all_inv_span" style="width:60px;">
        <span ng-show="inv.serve_type===0">Single</span>
        <span ng-show="inv.serve_type===1">Multi</span>
      </td>
      <td class="all_inv_span" style="width:140px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap" ng-show="col_comps.supplier === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='supplier'}">{{inv.distributor.name}}</td>
      <td class="all_inv_span" style="width:140px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap" ng-show="col_comps.supplier === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='supplier'}">{{inv.brewery}}</td>
      <td class="all_inv_span" style="width:50px;" ng-show="col_comps.misc === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='misc'}">
        <span ng-if="inv.abv !== null">{{inv.abv | number:2}} <span class="inv_symbol">%</span></span<</td>
      <td class="all_inv_span" style="width:70px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">{{inv.purchase_volume | number:2}}</td>
      <td class="all_inv_span" style="width:60;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">{{inv.purchase_unit}}</td>
      <td class="all_inv_span" style="width:80px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}"><span class="inv_symbol">$</span> {{inv.purchase_cost | number:2}}</td>
      <td class="all_inv_span" style="width:70px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">{{inv.purchase_count}}</td>
      <td class="all_inv_span" style="width:100px;" ng-if="inv.price_per_volume >= 0 && col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}"><span class="inv_symbol">$</span> {{inv.price_per_volume | number:4}}</td>
      <td class="all_inv_span" style="width:120px;" ng-if="inv.price_per_volume < 0 && col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}"> -- </td>
      <td class="all_inv_span" style="width:60px;" ng-show="col_comps.purchase === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='purchase'}">
        {{inv.par | number:1}}
      </td>
      <td class="all_inv_span" style="width:85px;" ng-show="col_comps.retail === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='retail'}" ng-class="{'gray_text': inv.sale_status==='Inactive'}">
        {{inv.sale_status}}
      </td>
      <td class="all_inv_span" style="width:90px;" ng-show="col_comps.retail === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='retail'}">
        <div ng-repeat="sp in inv.size_prices" style="padding:2px 0px">
          <span style="display:inline-block; min-width:50%">
            {{sp.volume}} 
          </span>
          <span style="color:#999999">
            {{sp.unit}}
          </span>
        </div>
      </td>
      <td class="all_inv_span" style="width:70px;" ng-show="col_comps.retail === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='retail'}">
        <div ng-repeat="sp in inv.size_prices" style="padding:2px 0px">
          <span ng-if="sp.price !== null"><span class="inv_symbol">$</span> {{sp.price | number:2}}</span>
          <span ng-if="sp.price === null"> -- </span>
        </div>
      </td>
      <!--td class="all_inv_span" style="width:60px;" ng-show="col_comps.inventory === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='inventory'}">{{inv.count | number:2}}</td>
      <td class="all_inv_span" style="width:100px;" ng-show="col_comps.inventory === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='inventory'}"><span class="inv_symbol">$</span> {{inv.inventory | number:2}}</td-->
      <td class="all_inv_span" style="width:70px;" ng-show="col_comps.misc === true" ng-class-even="{'col_highlight_row_even': highlight_cols==='misc'}">
        <span ng-if="inv.keg!==null && inv.keg.deposit!==null"><span class="inv_symbol">$</span> {{inv.keg.deposit | number:2}}</span>
      </td>
    </tr>
  </table>
  <br/>
</div>

<div ng-include src="'./view_all/edit_inv_modal.html'">
<div ng-include src="'./view_all/modal_new_dist.html'">
<div ng-include src="'./view_all/modal_new_keg.html'">
 
