<div ng-include src="'./inv_subnav.html'"></div>
<div class="container" style="min-width:760px; max-width:880px">

  <div style="width:100%; margin-top:24px; padding-bottom:6px; font-size:1.3em;">
    <img src="images/inv_history.png" height="32" width="32" style="vertical-align:top"/>
    <div style="display: inline-block; vertical-align:top; margin-top:6px; margin-left:2px">Inventory Records & History</div>
  </div>
  <!--div class="hint_text" style="width:100%; padding-top:4px;">
    View weekly inventory and historical data.
  </div-->

  <uib-tabset style="margin-top:4px; font-size:1.1em;">
    <uib-tab ng-repeat="mode in use_modes" heading="{{mode}}" ng-click="selectUseMode(mode)">
    </uib-tab>
  </uib-tabset>

  <div class="row" style="margin-top:6px">
    <div class="col-xs-12 hint_text" style="font-size:1.1em">
      View / edit historical inventory data.<br/>
    </div>
  </div>

  <div class="row" style="margin-top:24px">
    <div class="col-xs-12">
      <span>
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-md dropdown-toggle loc_dropdown" uib-dropdown-toggle style="font-size:1.1em;">
            <span style="float:left; text-align:left; width:90%">
              {{sort_type}} 
            </span>
            <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:14px; color:#888888"></span>
          </button>
          <ul class="loc_dropdown dropdown-menu" role="menu">
            <li class="loc_li" ng-repeat="type in sort_types">
               <a ng-click="selectSortType(type)" class="noselect">{{type}}</a>
            </li>
          </ul>
        </div>
      </span>
      <span ng-if="sort_type===sort_types[3]" style="margin-left:4px">
        <div class="btn-group" uib-dropdown>
          <button type="button" class="btn btn-default btn-md dropdown-toggle loc_dropdown" uib-dropdown-toggle style="font-size:1.1em;">
            <span style="float:left; text-align:left; width:90%; color:#888888">
              Add Beverage...
            </span>
            <span class="glyphicon glyphicon-triangle-bottom" style="text-align:right; margin-top:4px; font-size:14px; color:#888888"></span>
          </button>
          <ul class="loc_dropdown dropdown-menu" role="menu" style="min-width:280px">
            <li class="loc_li" ng-repeat="item in all_items">
              <a ng-click="addItem(item)" class="noselect">{{item.product}} <span style="color:#aaaaaa; float:right">({{item.container_type}})</span></a>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>

  <div ng-if="sort_type===sort_types[3] && added_items.length>0" class="row" ng-if="sort_type===sort_types[3]" style="padding-left:12px; margin-top:8px; margin-bottom:-8px" id="inv_items">
    <div ng-repeat="added_item in added_items" class="a_item" id="a_item_{{$index}}">
      <span style="float:left">{{added_item.product}}</span>
      <span class="glyphicon glyphicon-remove add_x" aria-hidden="true" ng-click="removeAddedItem(added_item)"></span>
    </div>
  </div>

  <div class="row" style="margin-top:20px">
    <div class="col-xs-8" style="text-align:left;">

      <date-range start-date="start_date" end-date="end_date" on-start-change="startDateChanged()" on-end-change="endDateChanged()" show-helpers="true"></date_range>

    </div>

    <div class="col-xs-4" ng-if="use_mode===0">
      <!-- this hidden link is just a dummy placeholder for exporting to excel-->
      <!--a id="excel_export"  style="display:none;"></a-->
      <!-- the below commented export button uses client-side AJAX to export to excel-->
      <!-- we are opting out of it for the time being as it doesn't work for IE or Safari-->
      <!-- and are instead using a server-side file for exporting spreadsheets -->
      <!--button type="button" class="btn btn-default btn-md btn-primary" style="font-size:1.0em; float:right; margin-top:2px" onclick="tableToExcel('inventoryTable', 'W3C Example Table', 'inventory.xls')">Export to Excel</button-->
      <button type="button" class="btn btn-default btn-sm btn-default" style="font-size:0.9em; float:right; margin-top:0px; border-color:#22aacc; color:#2299cc" ng-click="exportSpreadsheet()" ng-disabled="display_items===null || display_items.length===0">
        <span class="glyphicon glyphicon-download-alt" style="margin-right:4px"></span> Download
      </button>
      <email-button send-email="emailSpreadsheet(email)" popover-title="'Email Inventory Spreadsheet to:'"></email-button>

    </div>
  </div>

  <div ng-if="use_mode===0">
    <table id="inventoryTable" summary="Data table for inventory history." rules="groups" frame="hsides" border="2" style="width:100%; margin-top:8px; margin-bottom:120px">
      <tr>
        <td></td>
        <td style="width:30%">Product</td>
        <td>Quantity</td>
        <td>Wholesale</td>
        <td>Deposit</td>
        <td>Inventory</td>
      </tr>
      <tbody ng-if="sort_type===sort_types[0] || sort_type===sort_types[3]" ng-repeat="inv in display_items">
        <tr style="font-weight:bold; font-style:italic">
          <td>{{inv.pretty_date}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{inv.inv_sum | number:2}}</td>
        </tr>
        <tr ng-repeat="dinv in inv.date_inv" ng-class-even="'inv_row_even'" ng-class-odd="'inv_row_odd'">
          <td></td>
          <td ng-if="dinv.type!=='keg'" style="width:30%">{{dinv.product}}</td>
          <td ng-if="dinv.type==='keg'" style="width:30%">Keg Deposit - {{dinv.distributor}} {{dinv.volume | number:1}} {{dinv.unit}}</td>
          <td>{{dinv.quantity | number:2}}</td>
          <td>{{dinv.wholesale | number:2}}</td>
          <td>{{dinv.deposit | number:2}}</td>
          <td>{{dinv.inventory | number:2}}</td>
          <td></td>
        </tr>
        <tr><td colspan="6"></td></tr>
      </tbody>
      <tbody ng-if="sort_type===sort_types[1] || sort_type===sort_types[2]" ng-repeat="inv in display_items">
        <tr style="font-weight:bold; font-style:italic">
          <td>{{inv.pretty_date}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{inv.inv_sum | number:2}}</td>
        </tr>
        <tr ng-repeat-start="loc in inv.loc_histories" class="inv_loc_row">
          <td>{{loc.location}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td style="font-weight:bold">{{loc.inv_sum | number:2}}</td>
        </tr>
        <tr ng-repeat-start="item in loc.histories" ng-class-even="'inv_row_even'" ng-class-odd="'inv_row_odd'">
          <td></td>
          <td ng-if="item.type!=='keg'" style="width:30%">{{item.product}}</td>
          <td ng-if="item.type==='keg'" style="width:30%">Keg Deposit - {{item.distributor}} {{item.volume | number:1}} {{item.unit}}</td>
          <td>{{item.quantity | number:2}}</td>
          <td>{{item.wholesale | number:2}}</td>
          <td>{{item.deposit | number:2}}</td>
          <td>{{item.inventory | number:2}}</td>
        </tr>
        <tr ng-repeat-end ng-if="false"><td colspan="0"></td></tr>
        <tr ng-repeat-end ng-if="false"><td colspan="0"></td></tr>
        <tr><td colspan="6"></td></tr>
      </tbody>
    </table>

    <div class="row" ng-if="display_items===null || display_items.length===0" style="margin-bottom:120px">
      <div class="col-xs-12 hint_text" style="font-size:1.5em; text-align:center">
        <span ng-if="sort_type===sort_types[3] && added_items.length===0">
          Add a beverage with the "Add Beverage" dropdown.
        </span>
        <span ng-if="sort_type!==sort_types[3] || added_items.length>0">
          No data for selected time period.
        </span>
      </div> 
    </div>
  </div>

  <div ng-show="use_mode===1">
    <div style="margin-top:16px; margin-bottom:120px">
      <svg id="d3viz" width="880" height="500"/svg>
    </div>
  </div>

  <script src="/lib/d3/d3.min.js"></script>
  <link rel="stylesheet" href="/inventory/chart.css">

</div>

<div ng-include src="'./view_history/popover_email.html'">
